{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<!--START YOUR HTML WITHIN block content and endblock-->
<div id="mobile-view" class="">
    <h1>Hello {{session["current_user"]["username"]}}</h1>
    <p>{{ locationCoords }}</p>
    <a href="/qr-scanner">Scan me</a>
    <div class="row">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/preferences/1">Preferences</a>
        <a href="/itinerary/planning">Itinerary</a>
    </div>
    
    <input type="text" id="searchBar" onkeyup="pauseSearch()">
    <div id="searchPage">1</div>
    <button class="btn btn-primary" id="searchNextPageBtn" onclick="searchNextPage()">Next page</button>
    <div id="searchResults"></div>
</div>

<script>
    // var locationCoords = "{{locationCoords}}"
    // function GeoXY(){
    // $.ajax({
    // url: `https://developers.onemap.sg/privateapi/commonsvc/revgeocodexy?location=${locationCoords}&token=0v9hsciobp1ifa5bgpkin21cs3?revgeocodexy?&buffer=100&addressType=all`,
    // success: function(result){
    //     //Set result to a variable for writing
    //     var TrueResult = JSON.stringify(result);
    //     document.write(TrueResult);
    //     }});
    // }

    
</script>

<script>
    var canSearch = true;

    function pauseSearch() {
        canSearch = false;
        setTimeout(function() {
            canSearch = true;
            search()
        }, 1000)
    }

    function search() {
        if (canSearch) {
            const search = $("#searchBar").val()
            const pageNum = $("#searchPage").val()
            if (!search) {
                $("#searchResults").text("Will show maybe some recommended places");
            }
            else {
                $.ajax({
                url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                success: function(result) {
                    //Set result to a variable for writing
                    var resultstr = JSON.stringify(result);
                    $("#searchResults").text(resultstr);
                }});
            }
            
        }       
    } 

    function searchNextPage() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    }

    function submitRecommendedPlaces() {
        $.ajax({
            type: "POST",   
            url: `/funcs/recommend-destination/itinerary`,
            data: {
                startCoords: getLocation(),
                timeAllowance: 120,
                category: "healthierdining",
                transportMode: "pt"
            }
        });
    }

    function recommendDestination() {
        $.ajax({
            type: "POST",
            url: `/funcs/`
        })
    }
</script>
{% endblock %}