<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/test.css">

<body>
  <div class="box">
    <div class="display">
      <h1>Hello Alan!</h1>

      <input type="text" name="Search" value="">

      <ul>
        <li><a href="#">For You</a></li>
        <li><a href="#">Popular Now</a></li>
        <li><a href="#">Events</a></li>
      </ul>

      <h3>Recommended For You</h3>

      <div class="card-con">
        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>
      </div>


      <h3>Popular Activities Near You</h3>

      <div class="card-con">
        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>

        <div class="card">
          <div class="cardimg">
          </div>
          <h4>AMK 722 Food House</h4>
          <div class="details">
            <p>50m</p>
            <p>$$$</p>
          </div>
        </div>
      </div>

      <h3>Others</h3>

      <ul>
        <div class="long-card">

          <div class="longimg">
          </div>

          <div class="longinfo">
            <div class="longname">
              <h6>AMK 722 Food House</h6>
              <div class="details">
                <p>50m</p>
                <p>$$$</p>
              </div>
            </div>


          </div>
        </div>
      </ul>

    </div>

  </div>

</body>
