{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<script src="https://cdn.onemap.sg/leaflet/onemap-leaflet.js"></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>

<!--START YOUR HTML WITHIN block content and endblock-->
<div id="mobile-view" class="">
    <h1>Hello {{session["current_user"]["username"]}}</h1>
    <p>{{ locationCoords }}</p>
    <a href="/qr-scanner">Scan me</a>
    <div id='mapdiv' style='height:500px;'></div>
    
    <input type="text" id="searchBar" onkeyup="pauseSearch()">
    <div id="searchPage">1</div>
    <button id="searchNextPageBtn">Next page</button>
    <div id="searchResults"></div>
</div>

<script>
    // var locationCoords = "{{locationCoords}}"
    // function GeoXY(){
    // $.ajax({
    // url: `https://developers.onemap.sg/privateapi/commonsvc/revgeocodexy?location=${locationCoords}&token=0v9hsciobp1ifa5bgpkin21cs3?revgeocodexy?&buffer=100&addressType=all`,
    // success: function(result){
    //     //Set result to a variable for writing
    //     var TrueResult = JSON.stringify(result);
    //     document.write(TrueResult);
    //     }});
    // }

    var canSearch = true;
    var apiToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjg1NDQsInVzZXJfaWQiOjg1NDQsImVtYWlsIjoieWFudGF0dGFuNzIxQGdtYWlsLmNvbSIsImZvcmV2ZXIiOmZhbHNlLCJpc3MiOiJodHRwOlwvXC9vbTIuZGZlLm9uZW1hcC5zZ1wvYXBpXC92MlwvdXNlclwvc2Vzc2lvbiIsImlhdCI6MTY0ODQ0NTM1NCwiZXhwIjoxNjQ4ODc3MzU0LCJuYmYiOjE2NDg0NDUzNTQsImp0aSI6IjBkYWIzYTIyMDIwMmYxZDA5YzJhYmMxYjEyZjk0M2RhIn0.ygc_daPpwuKKaMqR1MHLVVKBCOtO9cYtGdAnLALGlGI";
    
    function getLocation() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition(showPosition);
        } 
    }

    $("#searchNextPageBtn").click(function() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    })

    $("#search")

    function pauseSearch() {
        canSearch = false;
        setTimeout(function() {
            canSearch = true;
            search()
        }, 1000)
    }

    function search() {
        if (canSearch) {
            const search = $("#searchBar").val()
            const pageNum = $("#searchPage").val()
            if (!search) {
                $("#searchResults").text("Will show maybe some recommended places");
            }
            else {
                $.ajax({
                url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                success: function(result) {
                    //Set result to a variable for writing
                    var resultstr = JSON.stringify(result);
                    $("#searchResults").text(resultstr);
                }});
            }
            
        }       
    } 

    function submitRecommendedPlaces() {
        $.ajax({
            type: "POST",   
            url: `/funcs/post-places/`,
            data: {
                start: getLocation.coords,
                storeMean: "itinerary",
                destinations: [{latitude: 1.2834542, longitude: 103.8608090, address: "1 BAYFRONT AVENUE MARINA BAY SANDS SINGAPORE 018971"}]
            }
        });
    }
</script>

<script>
    // Map display init
    var apiToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjg1NDQsInVzZXJfaWQiOjg1NDQsImVtYWlsIjoieWFudGF0dGFuNzIxQGdtYWlsLmNvbSIsImZvcmV2ZXIiOmZhbHNlLCJpc3MiOiJodHRwOlwvXC9vbTIuZGZlLm9uZW1hcC5zZ1wvYXBpXC92MlwvdXNlclwvc2Vzc2lvbiIsImlhdCI6MTY0ODQ0NTM1NCwiZXhwIjoxNjQ4ODc3MzU0LCJuYmYiOjE2NDg0NDUzNTQsImp0aSI6IjBkYWIzYTIyMDIwMmYxZDA5YzJhYmMxYjEyZjk0M2RhIn0.ygc_daPpwuKKaMqR1MHLVVKBCOtO9cYtGdAnLALGlGI";
    L.Icon.Default.imagePath = "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/images";
    var center = L.bounds([1.56073, 104.11475], [1.16, 103.502]).getCenter();
    var map = L.map('mapdiv').setView([center.x, center.y], 12);
    var yourMarker;
    var endMarker;

    var routeTextures = {
        WALK: {color: "black", dashArray: "10, 10"},
        SUBWAY: {
            NE: {color: "purple"},
            NS: {color: "red"},
            DT: {color: "blue"},
            EW: {color: "green"},
            CC: {color: "yellow"},
            TE: {color: "brown"},
            Default: {color: "grey"}
        },
        DRIVE: {color: "black"}
    }

    var basemap = L.tileLayer(`http://maps-{s}.onemap.sg/v2/Default/{z}/{x}/{y}.png`, {
        detectRetina: true,
        maxZoom: 19,
        minZoom: 12
    });

    map.setMaxBounds([[1.56073, 104.1147], [1.16, 103.502]]);

    basemap.addTo(map);

    var updatePosition = false;
    var repeatedBuildings = {};
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showRoute);

            navigator.geolocation.watchPosition(showPosition, positioningError, {
                timeout: 1000
            });
        } 
    }

    function showPosition(position) {  
        updatePosition = true;  
        console.log(position);
        
        // Mark marker
        if (yourMarker) {
            map.removeLayer(yourMarker);
        }
        
        yourMarker = new L.Marker([position.coords.latitude, position.coords.longitude], {bounceOnAdd: false, customId: "YouMarker"}).addTo(map); 

        // var popup = L.popup()
        // .setLatLng([position.coords.latitude, position.coords.longitude]) 
        // .setContent('<img height="20px" width="20px" src="https://web-static.onemap.sg/images/main/misc/icons_Locator.png">')
        // .openOn(map);   
    }

    function positioningError(error) {

    }

    function showRoute(position) {
        // Routing display
        var today = new Date();
        const routeTypes = ["drive", "pt", "walk"]
        var routeType = "pt";
        var endCoords = ["1.2834542", "103.8608090"];

        function decodeGeo(encodedRoute) {
            if (encodedRoute !== undefined || encodedRoute !== '' || encodedRoute != null ) {
                    var routeGeo = L.Polyline.fromEncoded(encodedRoute, {
                        precision: 6
                    });

                    return routeGeo;
                }
        }

        $.ajax({
            url: `https://developers.onemap.sg/privateapi/routingsvc/route?start=${position.coords.latitude},${position.coords.longitude}&end=${endCoords[0]},${endCoords[1]}&routeType=${routeType}&token=${apiToken}&date=${String(today.getFullYear())}-${String(today.getMonth()+1)}-${String(today.getDate())}&time=${String(today.getHours())}:${String(today.getMinutes())}:${String(today.getSeconds())}&mode=TRANSIT`,
            success: function(result) {
                //Set result to a variable for writing
                var encodedRoute;
                var modes = [];

                // Mark end
                if (endMarker) {
                    map.removeLayer(endMarker);
                }
                endMarker = new L.Marker([endCoords[0], endCoords[1]], {bounceOnAdd: false}).addTo(map);
                 
                if (routeType == "pt") {
                    var allRoutes = result.plan.itineraries;
                    for (var i in allRoutes) {
                        var transportMeans = allRoutes[i].legs;
                        for (var j in transportMeans) {
                            var details = transportMeans[j];
                            var mode = details.mode;

                            encodedRoute = details.legGeometry.points
                            var routeGeo = decodeGeo(encodedRoute);
                            modes = {endpoints: routeGeo._latlngs, mode: mode};

                            if (mode == "SUBWAY") {
                                var subwayLine = details.route;
                                L.polyline(modes.endpoints, routeTextures.SUBWAY[subwayLine]).addTo(map);
                            }
                            else {
                                L.polyline(modes.endpoints, routeTextures[modes.mode]).addTo(map);
                            }
                        }

                        // Remove for the next time, only take 1st route
                        break
                    }
                }
                else {
                    encodedRoute = result.route_geometry;
                    var routeGeo = decodeGeo(encodedRoute);
                    modes = {endpoints: routeGeo._latlngs, mode: routeType.toUpperCase()};

                    L.polyline(modes.endpoints, routeTextures[modes.mode]).addTo(map);
                }
                

                // Check for buildings around user
                $.ajax({
                    url: `https://developers.onemap.sg/privateapi/commonsvc/revgeocodexy?location=${position.coords.latitude},${position.coords.longitude}&token=${apiToken}&buffer=50`,
                    success: function(result) {
                        for (var i in result) {
                            if (!repeatedBuildings[result[i]]) {
                                repeatedBuildings[result[i]] = 1;
                            }
                            else {
                                repeatedBuildings[result[i]]++;
                            }
                        } 
                    }
                });
            }
        });

        var visited = [];
        for (var place in repeatedBuildings) {
            if (repeatedBuildings[place] >= 120) {
                visited.push({latitude: 1.2834542, longitude: 103.8608090, address: "1 BAYFRONT AVENUE MARINA BAY SANDS SINGAPORE 018971"})
                $.ajax({
                    type: "POST",   
                    url: `/funcs/mark-tracked/`,
                    data: {
                        start: getLocation.coords,
                        storeMean: "visited",
                        places: visited
                    }
                });

                repeatedBuildings[place] = null;
            }
        }
    }
    
    // Do something with latlngs
    getLocation();
</script>
{% endblock %}