{% extends "base.html" %}
{% block title %}Choose your activitiy 1{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="main-div" id="preferences">
    <form method="post">
        <div class="preference">
            <h1>Getting You<br>Started</h1>
            <p>Pick at least <b>3</b> cuisines which suits you best!</p>

            <div class="activities">
                <ul id="select-list">
                {% for pref in allPrefs %}
                {% if pref in prefs %}
                <li style="background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%); color:white;">{{pref}}</li>
                {% else %}
                <li>{{pref}}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>

        <input id="next-btn" type="submit" value="Next" class="next" disabled>

        <div id="checkboxes-div" style="display: none;">
            {% for pref in allPrefs %}
            <br>
            {% if pref in prefs %}
            <input type="checkbox" value="{{pref}}" id="{{pref}}" name="preferences[]" checked>
            {% else %}
            <input type="checkbox" value="{{pref}}" id="{{pref}}" name="preferences[]">
            {% endif %}
            <label for="{{pref}}">{{pref}}</label>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var buttons = [].slice.call(document.getElementById("select-list").children);
    var checkboxes = document.getElementById("checkboxes-div").getElementsByTagName("input");
    var checkedCount = document.querySelectorAll("input[type='checkbox']:checked").length;

    for (var i=0; i<buttons.length; i++) {
        buttons[i].addEventListener("click", function(e) {
            var index = buttons.indexOf(e.target);
            if (checkboxes[index].checked) {
                checkboxes[index].checked = false;
                buttons[index].style.background = null;
                buttons[index].style.color = null;
                checkedCount--;
            }
            else {
                checkboxes[index].checked = true;
                console.log(index)
                buttons[index].style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
                buttons[index].style.color = "white";
                checkedCount++;
            }

            checkCheckboxes();
        });
    }

    function checkCheckboxes() {
        console.log(checkedCount)
        if (checkedCount >= 3) {
            document.getElementById("next-btn").style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
            document.getElementById("next-btn").style.color = "white";
            document.getElementById("next-btn").disabled = false;
        }
        else {
            document.getElementById("next-btn").style.background = "#EEEEEE";
            document.getElementById("next-btn").style.color = "#BBBBBB";
            document.getElementById("next-btn").disabled = true;
        }
    }

    checkCheckboxes();
</script>
{% endblock %}
