{% extends "base.html" %}
{% block title %}Choose your activitiy 2{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="main-div" id="preferences">
    <form method="post">
        <div class="preference">
            <h1>Getting You<br>Started</h1>
            <p>Pick at least <b>3</b> activities which suits you best!</p>

            <div class="activities">
                <ul id="select-list">
                    <li>Museums</li>
                    <li>Fun and Games</li>
                    <li>Sights and Landmarks</li>
                    <li>Nature and Parks</li>
                </ul>
            </div>
        </div>
        
        <input id="next-btn" type="submit" value="Complete" class="next" disabled>

        <div id="checkboxes-div" style="display: none;">
            <br>
                <input type="checkbox" value="Museums" id="pref1" name="preferences[]">
                <label for="pref1">Museums</label>
    
            <br>
                <input type="checkbox" value="Fun and Games" id="pref2" name="preferences[]">
                <label for="pref2">Fun and Games</label>
        
            <br>
                <input type="checkbox" value="Sights and Landmarks" id="pref3" name="preferences[]">
                <label for="pref3">Sights and Landmarks</label>
        
            <br>
                <input type="checkbox" value="Nature and Parks" id="pref4" name="preferences[]">
                <label for="pref4">Nature and Parks</label>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var buttons = [].slice.call(document.getElementById("select-list").children);
    var checkboxes = document.getElementById("checkboxes-div").getElementsByTagName("input");
    var checkedCount = 0;

    for (var i=0; i<buttons.length; i++) {
        buttons[i].addEventListener("click", function(e) {
            var index = buttons.indexOf(e.target);
            console.log(index)
            if (checkboxes[index].checked) {
                checkboxes[index].checked = false;
                buttons[index].style.background = null;
                buttons[index].style.color = null;
                checkedCount--;
            }
            else {
                checkboxes[index].checked = true;
                console.log(index)
                buttons[index].style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
                buttons[index].style.color = "white";
                checkedCount++;
            }

            if (checkedCount >= 3) {
                document.getElementById("next-btn").style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
                document.getElementById("next-btn").style.color = "white";
                document.getElementById("next-btn").disabled = false;
            }
            else {
                document.getElementById("next-btn").style.background = "#EEEEEE";
                document.getElementById("next-btn").style.color = "#BBBBBB";
                document.getElementById("next-btn").disabled = true;
            }
        })
    }
</script>
{% endblock %}