{% extends "base.html" %}
{% block title %}Choose your activitiy 1{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<div class="main-div" id="preferences">
    <form method="post">
        <div class="preference">
            <h1>Getting You<br>Started</h1>
            <p>Pick at least <b>3</b> activities which suits you best!</p>

            <div class="activities">
                <ul id="select-list">
                <li>Italian</li>
                <li>Chinese</li>
                <li>Japanese</li>
                <li>Thai</li>
                <li>French</li>
                <li>Spanish</li>
                <li>American</li>
                <li>Mexican</li>
                <li>Indian</li>
                <li>Turkish</li>
                <li>Korean</li>
                <li>Vietnamese</li>
                <li>Hong Kong</li>
                <li>German</li>
                <li>British</li>
                <li>Taiwanese</li>
                <li>Singaporean</li>
                <li>Indonesian</li>
                <li>Malaysian</li>
                <li>Australian</li>
                <li>Swedish</li>
                </ul>
            </div>
        </div>

        <input id="next-btn" type="submit" value="Next" class="next" disabled>

        <div id="checkboxes-div" style="display: none;">
            <br>
            <input type="checkbox" value="Italian" id="pref1" name="preferences[]">
            <label for="pref1">Italian</label>
    
            <br>
                <input type="checkbox" value="Chinese" id="pref2" name="preferences[]">
                <label for="pref2">Chinese</label>
        
            <br>
                <input type="checkbox" value="Japanese" id="pref3" name="preferences[]">
                <label for="pref3">Japanese</label>
        
            <br>
                <input type="checkbox" value="Thai" id="pref4" name="preferences[]">
                <label for="pref4">Thai</label>
        
            <br>
                <input type="checkbox" value="French" id="pref5" name="preferences[]">
                <label for="pref5">French</label>
        
            <br>
        
                <input type="checkbox" value="Spanish" id="pref6" name="preferences[]">
                <label for="pref6">Spanish</label>
        
            <br>
        
                <input type="checkbox" value="American" id="pref7" name="preferences[]">
                <label for="pref7">American</label>
        
            <br>
        
                <input type="checkbox" value="Mexican" id="pref8" name="preferences[]">
                <label for="pref8">Mexican</label>
        
            <br>
                <input type="checkbox" value="Indian" id="pref9" name="preferences[]">
                <label for="pref9">Indian</label>
        
            <br>
        
                <input type="checkbox" value="Turkish" id="pref10" name="preferences[]">
                <label for="pref10">Turkish</label>
        
            <br>
                <input type="checkbox" value="Korean" id="pref11" name="preferences[]">
                <label for="pref11">Korean</label>
        
            <br>
                <input type="checkbox" value="Vietnamese" id="pref12" name="preferences[]">
                <label for="pref12">Vietnamese</label>
        
            <br>
                <input type="checkbox" value="Hong Kong" id="pref13" name="preferences[]">
                <label for="pref13">Hong Kong</label>
        
            <br>
                <input type="checkbox" value="German" id="pref14" name="preferences[]">
                <label for="pref14">German</label>
        
            <br>
                <input type="checkbox" value="British" id="pref15" name="preferences[]">
                <label for="pref15">British</label>
        
            <br>
                <input type="checkbox" value="Taiwanese" id="pre16" name="preferences[]">
                <label for="pref16">Taiwanese</label>
        
            <br>
                <input type="checkbox" value="Singaporean" id="pref17" name="preferences[]">
                <label for="pref17">Singaporean</label>
        
            <br>
                <input type="checkbox" value="Indonesian" id="pref18" name="preferences[]">
                <label for="pref18">Indonesian</label>
        
            <br>
                <input type="checkbox" value="Malaysian" id="pref19" name="preferences[]">
                <label for="pref19">Malaysian</label>
        
            <br>
                <input type="checkbox" value="Australian" id="pref20" name="preferences[]">
                <label for="pref20">Australian</label>
        
            <br>
                <input type="checkbox" value="Swedish" id="pref21" name="preferences[]">
                <label for="pref21">Swedish</label>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var buttons = [].slice.call(document.getElementById("select-list").children);
    var checkboxes = document.getElementById("checkboxes-div").getElementsByTagName("input");
    var checkedCount = 0;

    for (var i=0; i<buttons.length; i++) {
        buttons[i].addEventListener("click", function(e) {
            var index = buttons.indexOf(e.target);
            console.log(index)
            if (checkboxes[index].checked) {
                checkboxes[index].checked = false;
                buttons[index].style.background = null;
                buttons[index].style.color = null;
                checkedCount--;
            }
            else {
                checkboxes[index].checked = true;
                console.log(index)
                buttons[index].style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
                buttons[index].style.color = "white";
                checkedCount++;
            }

            if (checkedCount >= 3) {
                document.getElementById("next-btn").style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
                document.getElementById("next-btn").style.color = "white";
                document.getElementById("next-btn").disabled = false;
            }
            else {
                document.getElementById("next-btn").style.background = "#EEEEEE";
                document.getElementById("next-btn").style.color = "#BBBBBB";
                document.getElementById("next-btn").disabled = true;
            }
        })
    }
</script>
{% endblock %}
