{% extends "base.html" %}
{% block title %}Choose your activitiy 1{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<form method="post">
    <b><font size="+2">Select your top 5 cuisines</font></b>
    <br>
    <br>

        <br>
        <input type="checkbox" value="Chinese" id="pref1" name="preferences[]">
        <label for="pref1">Chinese</label>

    <br>
        <input type="checkbox" value="Indian" id="pref2" name="preferences[]">
        <label for="pref2">Indian</label>

    <br>
        <input type="checkbox" value="Malay" id="pref3" name="preferences[]">
        <label for="pref3">Malay</label>

    <br>
        <input type="checkbox" value="Western" id="pref4" name="preferences[]">
        <label for="pref4">Western</label>

    <br>
        <input type="checkbox" value="Thai" id="pref5" name="preferences[]">
        <label for="pref5">Thai</label>

    <br>
    <input type="submit" value="Next" class="btn btn-danger">
</form>
{% endblock %}