{% extends "base.html" %}
{% block title %}Redpins Buffer - List Signed Places{% endblock %}

{% block content %}
<div>
    <div id="toolbar">
    </div>
    <table id="signedPlaces_table"
           data-search="true"
           data-toolbar="#toolbar"
           data-pagination="true"
           data-side-pagination="server"
           data-filter-control="true"
           data-show-fullscreen="true"
           data-url="/funcs/admin/table_getSignedPlaces">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Id</th>
                <th data-field="shopName" data-sortable="true">Name</th>
                <th data-field="organization" data-sortable="true">Organization</th>
                <th data-field="address" data-sortable="true">Address</th>
                <th data-field="unitNo" data-sortable="true">Unit Number</th>
                <th data-field="points" data-sortable="true">Points</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    $table = $("#signedPlaces_table");
    $(document).ready(function () {
        $table.bootstrapTable();
    });

    setInterval(function () {
        var allTr = document.querySelector("#signedPlaces_table").querySelectorAll("tr");
        for (var i = 1; i < allTr.length; i++) {
            var allCurrTd = allTr.item(i).querySelectorAll("td");
            if (allCurrTd.length == 7) {
                if (allCurrTd.item(6).innerHTML == "-") {
                    allCurrTd.item(6).innerHTML =
                        `<a href="/admin/signedPlaces/update/${allCurrTd.item(0).innerText}"><i class="fa-solid fa-pencil"></i></a>
                    <span class="text-primary">  |  </span>
                    <button type="button" class="btn text-primary" style="padding:0px;" data-toggle="modal" data-target="#confirmDelete_${allCurrTd.item(0).innerText}"><i class="fa fa-trash"></i></button>
                    <!-- The Modal -->
                    <div class="modal" id="confirmDelete_${allCurrTd.item(0).innerText}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    -
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <p>Are you sure you want to delete ID ${allCurrTd.item(0).innerText} - ${allCurrTd.item(1).innerText}</p>
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> Proceed with caution!</p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="/admin/signedPlaces/delete/${allCurrTd.item(0).innerText}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
                
            }
        }
    }, 500)
</script>
{% endblock %}