{% extends "base.html" %}
{% block title %}Redpins Buffer - Choose a place{% endblock %}

{% block content %}
<div id="start">Start location: </div>
<div class="btn btn-primary" onclick="recommend(1);">Recommend</div>
<div id="recommendation-listings" class="row">

</div>
<input type="text" id="endDestination" class="form-control" onkeyup="pauseSearch();"></input>
<div id="showDestinations"></div>
<div id="list">

</div>
<button onclick="recommend();"></button>

<script>
    var post;
    var skipped = [0];

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showRoute)
        }
    }

    function showRoute(position) {
        document.getElementById("start").innerText = position.coords.latitude + "," + position.coords.longitude
        post = position
    }

    function recommend() {
        if (true) {
            $.ajax({
                type: "POST",
                url: `/funcs/recommend-places`,
                data: {
                    latitude: post.coords.latitude,
                    longitude: post.coords.longitude,
                    timeAllowance: 60,
                    category: "Eateries",
                    transportMode: "pt",
                    skipped: JSON.stringify(skipped)
                },
                success: function(result) {
                    cleanedResult = result.replaceAll("\\u", "").replaceAll("NaN", `""`);
                    result = JSON.parse(cleanedResult);

                    skipped = result.skipped;
                    console.log(result.skipped);
                    for (var i in result.list) {
                        document.getElementById("recommendation-listings").innerHTML += `<div class="col-xs-6 card" style="width:150px">
                            <h4>${result.list[i].Restaurant_name}</h4>
                            <br />
                            <p>Matching ${result.list[i].RecommendationScore.toFixed(2)}</p>
                        </div>`
                    }
                    results;
                }
            })
        }
       
    }

    var canSearch = true;

    function pauseSearch() {
        canSearch = false;
        console.log("Here")
        setTimeout(function() {
            canSearch = true;
            search()
        }, 1000)
    }

    function search() {
        if (canSearch) {
            console.log("Here2")
            const search = $("#endDestination").val()
            const pageNum = 1
            if (!search) {
                $("#showDestinations").text("Will show maybe some recommended places");
            }
            else {
                $.ajax({
                url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                success: function(result) {
                    //Set result to a variable for writing
                    var resultstr = JSON.stringify(result);
                    $("#showDestinations").text(resultstr);
                }});
            }
            
        }       
    } 

    function searchNextPage() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    }

    getLocation();

</script>
{% endblock %}