{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<div class="main-div">
    {% for pref in prefs %}
    <h5 class="pref-header">{{pref}}</h5>
    <div class="recommendation-listings">

    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var pagesNo = {}

    function getCards() {
        var category = "{{category}}";
        var prefs = document.getElementsByClassName("pref-header");
        var listingDivs = document.getElementsByClassName("recommendation-listings");

        for (var i=0; i< prefs.length; i++) {
            pagesNo[prefs[i].innerText] = 1;

            $.ajax({
                type: "POST",
                url: `/funcs/discover-recommend/${category}`,
                data: {
                    section: prefs[i].innerText,
                    index: i
                },
                success: function(result) {
                    result = JSON.parse(result);
                    for (var j=0; j<result.list.length; j++) {
                        listingDivs[result.index].innerHTML += `<div class="card">
                            <h5>${result.list[j].Name}</h5>
                            <br />
                            <p>Matching ${result.list[j].Ratings.toFixed(2)}</p>
                        </div>`;
                    }

                    if (result.list.length == 0) {
                        listingDivs[result.index].innerText = "No results";
                    }
                }
            })
        }
        
    }

    getCards();
</script>
{% endblock %}
