{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<!--START YOUR HTML WITHIN block content and endblock-->
<div id="mobile-view">
    <h1>Hello {{session["current_user"]["username"]}}</h1>
    <a href="/qr-scanner">Scan me</a>
    <br />
    <br>
    <div>
        <input type="text" class="form-control" id="searchBar" onkeyup="pauseSearch();" autocomplete="off">
        <div id="search-dropdown">
        </div>
    </div>
    
    <div id="searchPage">1</div>
    <button class="btn btn-primary" id="searchNextPageBtn" onclick="searchNextPage();">Next page</button>
</div>

<script>
    // var locationCoords = "{{locationCoords}}"
    // function GeoXY(){
    // $.ajax({
    // url: `https://developers.onemap.sg/privateapi/commonsvc/revgeocodexy?location=${locationCoords}&token=0v9hsciobp1ifa5bgpkin21cs3?revgeocodexy?&buffer=100&addressType=all`,
    // success: function(result){
    //     //Set result to a variable for writing
    //     var TrueResult = JSON.stringify(result);
    //     document.write(TrueResult);
    //     }});
    // }

    
</script>

<script>
    var canSearch = true;

    function pauseSearch() {
        canSearch = false;
        setTimeout(function() {
            canSearch = true;
            search()
        }, 1000)
    }

    function search() {
        if (canSearch) {
            var dropdownMenu = document.getElementById("search-dropdown");
            const search = $("#searchBar").val()
            const pageNum = $("#searchPage").val()
            if (!search) {
                dropdownMenu.innerHTML = ""; 
            }
            else {
                $.ajax({
                    // url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                    url: `/funcs/search?s=${search}`,
                    success: function(result) {
                        dropdownMenu.innerHTML = "";
                        showLength = 6;
                        if (result.length > 0) {
                            if (result.length < 6) {
                                showLength = result.length;
                            }

                            for (var i=0; i<showLength; i++) {
                                record = result[i]
                                dropdownMenu.innerHTML += `
                                <div class="dropdown-item" onclick="saveSearch('${record.Address}', '${record.Name}')" style="cursor: pointer">
                                    <p style="font-size: 14px;"><b>${record.Name}</b></p>
                                    <p style="font-size: 11px; max-width: 100%; overflow: auto;">${record.Address}</p>
                                </div>
                                `;
                            }
                        }
                        else {
                            dropdownMenu.innerHTML = `<div class="dropdown-item">No results found</div>`; 
                        }
                        
                    }});
            }
            
        }       
    } 

    function searchNextPage() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    }

    function saveSearch(addr, n) {
        document.getElementById("search-dropdown").innerHTML = "";
        
        $.ajax({
            type: "POST",
            url: `/funcs/mark-tracked`,
            data: {
                sessionId: '{{session.get("session_id")}}',
                action: "Searched",
                address: addr,
                name: n
            },
            success: function(result) {
                console.log(result)
            }
        })
    }

    function submitRecommendedPlaces() {
        $.ajax({
            type: "POST",   
            url: `/funcs/recommend-destination/itinerary`,
            data: {
                startCoords: getLocation(),
                timeAllowance: 120,
                category: "healthierdining",
                transportMode: "pt"
            }
        });
    }

    function recommendDestination() {
        $.ajax({
            type: "POST",
            url: `/funcs/`
        })
    }
</script>
{% endblock %}