{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<div class="main-div">
  <!-- 1st page -->
  <div id="onboarding-page1" class="onboardingchange">
    <div class="onboarding01img">
    </div>

    <p class="onboardingheader">Your Time, Your Call!</p>
    <p class="onboardingtag">Have time to spare? Let us recommend<br>you what’s good around out,<br>whenever, wherever!</p>

    <div class="onboardingbars">
      <div class="activebar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <!-- 2nd page -->
  <div id="onboarding-page2" class="onboardingchange">
    <div class="onboarding02img">
    </div>

    <p class="onboardingheader">Only The Best!</p>
    <p class="onboardingtag">With machine-learning, you’ll always get<br>new & exciting recommendations<br>tailored for you.</p>

    <div class="onboardingbars">
      <div class="bar"></div>
      <div class="activebar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <!-- 3rd page -->
  <div id="onboarding-page3" class="onboardingchange">
    <div class="onboarding03img">
    </div>

    <p class="onboardingheader">The World Awaits!</p>
    <p class="onboardingtag">With millions of exciting places & cuisines<br>to explore, the possibilities<br>are truly endless!</p>

    <div class="onboardingbars">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="activebar"></div>
    </div>
  </div>

  <div class="onboardingcta" onclick="window.open('/register','_self')">
    <p>Get Started</p>
  </div>

  <p class="onboardingacc">Have an account? <a href="/login">Sign In</a></p>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  var page = 1;

  $("#onboarding-page2").hide()
  $("#onboarding-page3").hide()

  setInterval(function() {
    console.log("Hello");
    var nextPage;
    if (page < 3) {
      nextPage = page + 1;
    }
    else {
      nextPage = 1;
    }

    var fadeOutPage = $("#onboarding-page"+page);
    var fadeInPage = $("#onboarding-page"+nextPage);
    fadeOutPage.fadeOut(1000);
    fadeOutPage.promise().done(function() {
      fadeInPage.fadeIn(1000);
    })

    if (page == 3) {
      page = 1;
    }
    else {
      page++;
    }
  }, 7000)
</script>
{% endblock %}