<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html,
    body {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      height: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body>
  <div style="width: 360px;height: 800px; position: relative; overflow:hidden; border-radius: 20px; background-color:#fcfcfc">
    <svg width="360" height="366" viewBox="0 0 360 366" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <path d="M315 364.5L45 364.5C20.7751 364.5 1.5 347.556 1.5 327.121L1.5 2.49997L358.5 2.49997L358.5 327.121C358.5 347.556 339.225 364.5 315 364.5Z" stroke="black" stroke-width="3"></path>
      <path d="M360 1L14 349.179M1 1L349 349.179" stroke="#3A3434" stroke-width="2"></path>
    </svg>
  
    <div style="width: 29px; height: 0.25rem; left:164px; top:589px; background-color:#e4002b; position: absolute;border-radius: 0.125rem;"></div>
    <div style="width: 15px; height: 0.25rem; left:145px; top:589px; background-color:#e7e7e7; position: absolute;border-radius: 0.125rem;" onclick="window.open('onboarding01.html','_self')"></div>
    <div style="width: 0.875rem; height: 0.25rem; left:198px; top:589px; background-color:#e7e7e7" onclick="window.open('onboarding03.html','_self')"></div>
    <p style="width:80;position: absolute;left:23px; top:480px; font-size: 1rem; line-height: 1.5rem; text-align: center;">
      With machine-learning, you’ll always get the new &#x26; exciting recommendations tailored
      for you.
    </p>
    <p style="width:315px;height:11;font-size:25px;font-weight: 600; text-align: center;">
      Only The Best.
    </p>
    <div style="width:80;height:50px;position: absolute;left:19px;top:619px;overflow:hidden" onclick="window.open('login.html','_self')">
      <div style="width:80;height:50px;position: absolute;left:-1px;top:-1px">
        <div style="width:80;height:50px;position: absolute;left:-1px;top:-1px;border-radius:5px;background-color:#eeeeee"></div>
        <div style="width:80;height:50px;position: absolute;left:-1px;top:-1px;border-radius:5px;" style="background: linear-gradient(238.86deg, #e4002b 1.57%, #e92c3d 15.84%, #f8a36f 86.66%);"></div>
        <p style="position: absolute;left:114px;top:13px;font-size:1rem;line-height: 1.5rem;text-align: center;color: #ffffff;">
          Get Started
        </p>
      </div>
    </div>
  </div>
</body>

</html>
