{% extends "base.html" %}
{% block title %}Edit Signed Place Info{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<form method="post">
    <div class="form-group">
        {{ render_field(form.shopName, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.organization, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.address, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.unitNo, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.points, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.checkpoint, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.discount, class="form-control") }}
    </div>

    <input type="submit" value="Update changes" class="btn btn-primary">
</form>
{% endblock %}