<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Card</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="carddetails">

    <div class="cardimg"></div>

    <section class="carddetailedinfo">
      <div class="scrollhandle"></div>

      <h1 class="cardname">Universal Studios Singapore</h1>

      <div class="cardmaininfo">
        <!-- rating -->
        <div class="rating">
          <!-- full red -->
          <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
            <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
          </svg>

          <!-- full red -->
          <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
            <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
          </svg>

          <!-- half -->
          <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
            <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
            <defs>
              <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E4002B" />
                <stop offset="0.484375" stop-color="#E4002B" />
                <stop offset="0.515625" stop-color="#BBBBBB" />
                <stop offset="1" stop-color="#BBBBBB" />
              </linearGradient>
              <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E4002B" />
                <stop offset="0.484375" stop-color="#E4002B" />
                <stop offset="0.515625" stop-color="#BBBBBB" />
                <stop offset="1" stop-color="#BBBBBB" />
              </linearGradient>
            </defs>
          </svg>

          <!-- grey -->
          <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
            <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
          </svg>

          <!-- grey -->
          <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
            <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
          </svg>


          <p class="ratingvalue">234</p>
        </div>

        <!-- dot -->
        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="2.61328" cy="3.05103" r="2.5" fill="#2D2D2D" />
        </svg>

        <h1 class="cardaffordabilty">$$</h1>

        <!-- dot -->
        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="2.61328" cy="3.05103" r="2.5" fill="#2D2D2D" />
        </svg>

        <h1 class="cardcategory">Attraction</h1>
      </div>







    </section>

    <!-- bottom -->
    <section class="bottom">
      <div class="maincta" onclick="window.open('plannertrip.html','_self')">
        <h1>Add To Itinerary</h1>
      </div>
    </section>

  </div>

</body>

</html>
