<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="home">
    <img src="../../static/images/spots.png" alt="">

    <div class="homeheader">
      <h1>Discover</h1>

      <ul>
        <li onclick="window.open('search.html','_self')"><img src="../../static/images/search.png" alt="search"></li>
        <li onclick="window.open('saved.html','_self')"><img src="../../static/images/saved.png" alt="saved"></li>
      </ul>
    </div>

    <section class="homecontent">

      <!-- recent searches -->
      <div class="sectionheader recentheader">
        <h1>Recommended for you</h1>
        <!-- <h3>Clear</h3> -->
      </div>

      <div class="recentsearches">
        <div class="recentcardscon">

          <div class="recentcards searchcard">
            <div class="cardimg">
              <div class="save">
                <svg>
                  <path
                    d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                    fill="#BBBBBB" />
                </svg>
              </div>
            </div>

            <div class="cardinfo">
              <h1 class="recentname">Lorem</h1>
              <div class="recenttype">
                <h3 class="recentcat">Lorem</h3>
                <div class="rating">
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>

                  <p class="ratingvalue">234</p>
                </div>
              </div>
            </div>
          </div>

          <div class="recentcards searchcard">
            <div class="cardimg">
              <div class="save">
                <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                    fill="#BBBBBB" />
                  <path
                    d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                    fill="#E4002B" />
                </svg>
              </div>
            </div>

            <div class="cardinfo">
              <h1 class="recentname">Lorem</h1>
              <div class="recenttype">
                <h3 class="recentcat">Lorem</h3>
                <div class="rating">
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>

                  <p class="ratingvalue">234</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- top 10 -->
      <div class="sectionheader">
        <h1>This Month's Top 10</h1>
        <h2>Chosen by the community!</h2>
      </div>

      <div class="top10">
        <div class="cardscon">

          <!-- cards -->
          <div class="top10cards">

            <div class="cardimg">

              <div class="ranking">
                <h1>XX</h1>
              </div>

              <div class="save">
                <svg>
                  <path
                    d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                    fill="#BBBBBB" />
                </svg>
              </div>
            </div>

            <div class="top10cardinfo">
              <h1 class="recentname">Lorem</h1>

              <div class="recenttype">
                <h3 class="recentcat">Lorem</h3>
                <div class="rating">
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>
                  <svg width="12" height="12" fill="none">
                    <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                  </svg>

                  <p class="ratingvalue">234</p>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>


      <!-- dazzling districts -->
      <div class="sectionheader dazzlingheader">
        <div>
          <h1>Dazzling Districts</h1>
          <h2>Afternoon tea or Happy Hour?</h2>
        </div>

        <div class="view">
          <h3>View All</h3>
        </div>
      </div>

      <div class="dazzlingcardscon">
        <!-- cards -->
        <div class="dazzlingcard">
          <h1>Lorem</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>

        <div class="dazzlingcard">
          <h1>Lorem</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>

        <div class="dazzlingcard">
          <h1>Lorem</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>

        <div class="dazzlingcard">
          <h1>Lorem</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>

      </div>


      <!-- Amazing Attractions -->
      <div class="sectionheader manyheadertags">
        <div>
          <h1>Amazing Attractions</h1>
          <h2>Fun Things To Do!</h2>
        </div>

        <div class="view">
          <h3>View All</h3>
        </div>
      </div>

      <div class="maincardcon attractionscon">
        <!-- cards -->
        <div class="maincard attractioncard">
          <div class="cardimg">

            <div class="save">
              <svg>
                <path
                  d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                  fill="#BBBBBB" />
              </svg>
            </div>
          </div>

          <div class="maincardinfo attractioncardinfo">
            <h1 class="recentname">Lorem</h1>

            <div class="recenttype">
              <h3 class="recentcat">Lorem</h3>
              <div class="rating">
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>

                <p class="ratingvalue">234</p>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Exciting Eateries -->
      <div class="sectionheader manyheadertags">
        <div>
          <h1>Exciting Eateries</h1>
          <h2>It’s Chow-time!</h2>
        </div>

        <div class="view">
          <h3>View All</h3>
        </div>
      </div>

      <div class="maincardcon excitingcon">
        <!-- cards -->
        <div class="maincard excitingcard">
          <div class="cardimg">

            <div class="save">
              <svg>
                <path
                  d="M10.2855 0H1.7145C1.26103 0.00164455 0.82671 0.189764 0.50683 0.523083C0.18695 0.856402 0.00763808 1.3077 0.0082357 1.77795L0 16L6 13.3331L12 16V1.77795C11.998 1.30704 11.8168 0.855995 11.4957 0.523007C11.1746 0.190018 10.7396 0.00204303 10.2855 0V0Z"
                  fill="#BBBBBB" />
              </svg>
            </div>
          </div>

          <div class="maincardinfo excitingcardinfo">
            <h1 class="recentname">Lorem</h1>

            <div class="recenttype">
              <h3 class="recentcat">Lorem</h3>
              <div class="rating">
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>
                <svg width="12" height="12" fill="none">
                  <rect x="0.5" y="0.5" width="11" height="11" rx="1.5" stroke="#C4C4C4" />
                </svg>

                <p class="ratingvalue">234</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Go Global! -->
      <!-- <div class="sectionheader manyheadertags">
        <div>
          <h1>Go Global!</h1>
          <h2>Find out what people love!</h2>
        </div>
      </div>

      <div class="globalcardscon">
        <div class="globalcard">
          <h1>Lorem</h1>
        </div>

        <div class="globalcard">
          <h1>Lorem</h1>
        </div>

        <div class="globalcard">
          <h1>Lorem</h1>
        </div>
        <div class="globalcard">
          <h1>Lorem</h1>
        </div>
        <div class="globalcard">
          <h1>Lorem</h1>
        </div>
        <div class="globalcard">
          <h1>Lorem</h1>
        </div>

      </div> -->

      <p class="more">Stay Tuned For More!</p>


    </section>




  </div>

</body>

</html>
