<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html,
    body {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      height: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body>
  <svg width="360" height="800" viewBox="0 0 360 800" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[360px] h-[800px] relative" preserveAspectRatio="none">
    <g clip-path="url(#clip0_408_1043)">
      <rect width="360" height="800" rx="20" fill="url(#paint0_linear_408_1043)"></rect>
    </g>
    <defs>
      <linearGradient id="paint0_linear_408_1043" x1="370" y1="35.5" x2="-16" y2="746" gradientUnits="userSpaceOnUse">
        <stop stop-color="#E4002B"></stop>
        <stop offset="0.3125" stop-color="#E82038"></stop>
        <stop offset="1" stop-color="#F8A36F"></stop>
      </linearGradient>
      <clipPath id="clip0_408_1043">
        <rect width="360" height="800" rx="20" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <img src="../../static/images/logo.gif" alt="" width="143" height="203" viewBox="0 0 143 203" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[142px] h-[202.24px] absolute left-[108px] top-[298px]" preserveAspectRatio="none">


</body>

</html>
