<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preferences 1</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="preferences">
    <div class="preference">
      <h1>Getting You<br>Started</h1>
      <p>Pick at least <b>3</b> activities which suits you best!</p>

      <div class="activities">
        <ul>
          <li>Foodie</li>
          <li>Animals</li>
          <li>Photography</li>
          <li>Museums</li>
          <li>Hiking</li>
          <li>Sports</li>
          <li>Cafes</li>
          <li>Heritage Sites</li>
          <li>Thrifting</li>
          <li>Concerts</li>
          <li>Island Hopping</li>
          <li>Bars & Clubs</li>
          <li>Music</li>
        </ul>
      </div>
    </div>

    <div class="next" onclick="window.open('preferences02.html','_self')">
      <h1>Next</h1>
    </div>

  </div>
</body>

</html>
