<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preferences 2</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="preferences">
    <div class="preference">
      <h1>What's Your<br>Prefered Cuisuie</h1>
      <p>Pick at least <b>3</b> food preferences you love!</p>

      <div class="activities">
        <ul>
          <li>Local</li>
          <li>Halal</li>
          <li>Asian</li>
          <li>East-Asian</li>
          <li>European</li>
          <li>African</li>
          <li>American</li>
          <li>Gluten-Free</li>
          <li>Keto</li>
          <li>Vegetarian</li>
          <li>Mediterranean</li>
          <li>Vegan</li>
        </ul>
      </div>
    </div>

    <div class="next" onclick="window.open('explore.html','_self')">
      <h1>Complete</h1>
    </div>

  </div>
</body>

</html>
