<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reward Earn</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="rewardearn">

    <h1>Great Job!</h1>

    <img src="../../static/images/reward.png" alt="">

    <div class="rewardearned">
      <h3>You earned</h3>
      <h2>50</h2>
      <h3>points!</h3>
    </div>


    <!-- bottom -->
      <div class="maincta" onclick="window.open('map.html','_self')">
        <h1>Back To Trip</h1>
      </div>

  </div>

</body>

</html>
