<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trip Review</title>
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <div class="device" id="tripreview">

    <div class="tripreview">
      <h1>Trip Review</h1>

      <h2>On a scale of 1 - 5, rate your trip! </h2>

      <!-- rating -->
      <div class="rating">
        <!-- full red -->
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
          <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
        </svg>

        <!-- full red -->
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
          <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
        </svg>

        <!-- half -->
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
          <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
          <defs>
            <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E4002B" />
              <stop offset="0.484375" stop-color="#E4002B" />
              <stop offset="0.515625" stop-color="#BBBBBB" />
              <stop offset="1" stop-color="#BBBBBB" />
            </linearGradient>
            <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E4002B" />
              <stop offset="0.484375" stop-color="#E4002B" />
              <stop offset="0.515625" stop-color="#BBBBBB" />
              <stop offset="1" stop-color="#BBBBBB" />
            </linearGradient>
          </defs>
        </svg>

        <!-- grey -->
        <svg width="40" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
          <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
        </svg>

        <!-- grey -->
        <svg width="40" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
          <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
        </svg>
      </div>

      <h2>Share more details of your trip!</h2>

      <input type="text" class="tripreviewbox" name="tripreviewbox" value="" placeholder="">


      <h2>Leave a review for places you have visited!</h2>

    </div>





    <div class="youmightlikecon">

      <!-- youmightlikecards -->
      <div class="youmightlikecards">
        <div class="cardimg"></div>

        <div class="cardinfo">
          <h1 class="youmightlikename">VeganBurg Singapore</h1>
          <div class="youmightliketype">

            <div class="youmightlikecategory">
              <h2>Restaurant</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>fusion</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>$$</h2>

            </div>
            <!-- rating -->
            <div class="rating">
              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- half -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
                <defs>
                  <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                  <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                </defs>
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>


              <p class="ratingvalue">234</p>
            </div>
          </div>
        </div>
      </div>

      <!-- youmightlikecards -->
      <div class="youmightlikecards">
        <div class="cardimg"></div>

        <div class="cardinfo">
          <h1 class="youmightlikename">VeganBurg Singapore</h1>
          <div class="youmightliketype">

            <div class="youmightlikecategory">
              <h2>Restaurant</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>fusion</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>$$</h2>

            </div>
            <!-- rating -->
            <div class="rating">
              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- half -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
                <defs>
                  <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                  <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                </defs>
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>


              <p class="ratingvalue">234</p>
            </div>
          </div>
        </div>
      </div>

      <!-- youmightlikecards -->
      <div class="youmightlikecards">
        <div class="cardimg"></div>

        <div class="cardinfo">
          <h1 class="youmightlikename">VeganBurg Singapore</h1>
          <div class="youmightliketype">

            <div class="youmightlikecategory">
              <h2>Restaurant</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>fusion</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>$$</h2>

            </div>
            <!-- rating -->
            <div class="rating">
              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- half -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
                <defs>
                  <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                  <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                </defs>
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>


              <p class="ratingvalue">234</p>
            </div>
          </div>
        </div>
      </div>

      <!-- youmightlikecards -->
      <div class="youmightlikecards">
        <div class="cardimg"></div>

        <div class="cardinfo">
          <h1 class="youmightlikename">VeganBurg Singapore</h1>
          <div class="youmightliketype">

            <div class="youmightlikecategory">
              <h2>Restaurant</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>fusion</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>$$</h2>

            </div>
            <!-- rating -->
            <div class="rating">
              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- half -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
                <defs>
                  <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                  <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                </defs>
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>


              <p class="ratingvalue">234</p>
            </div>
          </div>
        </div>
      </div>

      <!-- youmightlikecards -->
      <div class="youmightlikecards">
        <div class="cardimg"></div>

        <div class="cardinfo">
          <h1 class="youmightlikename">VeganBurg Singapore</h1>
          <div class="youmightliketype">

            <div class="youmightlikecategory">
              <h2>Restaurant</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>fusion</h2>
              <svg width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="1.03093" cy="1.98846" rx="1.03093" ry="1" fill="#707070" />
              </svg>
              <h2>$$</h2>

            </div>
            <!-- rating -->
            <div class="rating">
              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- full red -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="#E4002B" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="#E4002B" />
              </svg>

              <!-- half -->
              <svg width="12" height="12" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="37" height="37" rx="3.5" stroke="url(#paint0_linear_2171_1619)" stroke-width="3" />
                <rect x="7.46094" y="7.5" width="25.015" height="25" rx="2" fill="url(#paint1_linear_2171_1619)" />
                <defs>
                  <linearGradient id="paint0_linear_2171_1619" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                  <linearGradient id="paint1_linear_2171_1619" x1="7.46094" y1="20" x2="32.4759" y2="20" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E4002B" />
                    <stop offset="0.484375" stop-color="#E4002B" />
                    <stop offset="0.515625" stop-color="#BBBBBB" />
                    <stop offset="1" stop-color="#BBBBBB" />
                  </linearGradient>
                </defs>
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>

              <!-- grey -->
              <svg width="12" height="12" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.05078" y="1.5" width="37" height="37" rx="3.5" stroke="#BBBBBB" stroke-width="3" />
                <rect x="8.01172" y="7.5" width="25.015" height="25" rx="2" fill="#BBBBBB" />
              </svg>


              <p class="ratingvalue">234</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- bottom -->
  <section class="bottom">
    <div class="maincta" onclick="window.open('tripreview.html','_self')">
      <h1>End Trip</h1>
    </div>
  </section>
</body>

</html>
