{% extends "base.html" %}
{% block title %}Redpins Buffer - Planners{% endblock %}

{% block content %}
<div class="main-div device" id="myplans">
    <!-- header -->
    <div class="myplansheader">
        <h1>My Plans</h1>
    </div>
    
    <!-- account -->
    <section class="planscon">

    <ul>
        <li id="currentTab" class="currentplans" onclick="toggle(1)">Current Plans</li>
        <li id="previousTab" class="previousplans" onclick="toggle(2)">Previous Plans</li>
    </ul>

    <div id="currentp-section">
        <div class="myplanstrips" onclick="window.open('/itinerary/planning/planner','_self')">
            <div class="planinfo">
                <h1 class="planprogress"></h1>
                <h2 class="planname">+ Add new plan</h2>
                <h3 class="plandate"></h3>
            </div>
        </div>

        {% if ongoing != None %}
        <div class="myplanstrips" onclick="window.open('/itinerary/showTrip','_self')">
            <div class="planimg" style="background-image: url('{% if iti.getPlaces()|length > 0 %}{{iti.getPlaces()[0].Image}}{% else %}/static/images/red.png{% endif %}');">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">Currently ongoing</h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{iti.getDate().strftime("%d-%m-%Y")}}</h3>
            </div>
        </div>
        {% endif %}

        {% for iti in planning %}
        <div class="myplanstrips" onclick="window.open('/itinerary/planning/planner','_self')">
            <div class="planimg" style="background-image: url('{% if iti.getPlaces()|length > 0 %}{{iti.getPlaces()[0].Image}}{% else %}/static/images/red.png{% endif %}');">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">Planning in progress</h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{iti.getDate().strftime("%d-%m-%Y")}}</h3>
            </div>
        </div>
        {% endfor %}

        {% for iti in saved %}
        <div class="myplanstrips">
            <div class="planimg" style="background-image: url('{% if iti.getPlaces()|length > 0 %}{{iti.getPlaces()[0].Image}}{% else %}/static/images/red.png{% endif %}');">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">Starts on {{iti.getDate().strftime("%d-%m-%Y")}}</h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{iti.getDate().strftime("%d-%m-%Y")}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="previousp-section" style="display: none;">
        {% for iti in completed %}
        <div class="myplanstrips">
            <div class="planimg" style="background-image: url('{% if iti.getPlaces()|length > 0 %}{{iti.getPlaces()[0].Image}}{% else %}/static/images/red.png{% endif %}');">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">Ended on {{iti.getDate().strftime("%d-%m-%Y")}}</h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{iti.getDate().strftime("%d-%m-%Y")}}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    </section>

    {% block bottomNav %}
        {% include "includes/_bottomNav.html" %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function toggle(index) {
        if (index == 1) {
            document.getElementById("currentTab").classList.add("currentplans");
            document.getElementById("currentTab").classList.remove("previousplans");
            document.getElementById("previousTab").classList.add("previousplans");
            document.getElementById("previousTab").classList.remove("currentplans");

            $("#previousp-section").hide();
            $("#currentp-section").show();
        }
        else {
            document.getElementById("previousTab").classList.add("currentplans");
            document.getElementById("previousTab").classList.remove("previousplans");
            document.getElementById("currentTab").classList.add("previousplans");
            document.getElementById("currentTab").classList.remove("currentplans");

            $("#currentp-section").hide();
            $("#previousp-section").show();
        }
    }
</script>
{% endblock %}