{% extends "base.html" %}
{% block title %}Redpins Buffer - Planners{% endblock %}

{% block content %}
<div class="main-div device" id="myplans">
    <!-- header -->
    <div class="myplansheader">
        <h1>My Plans</h1>
    </div>
    
    <!-- account -->
    <section class="planscon">

    <ul>
        <li id="currentTab" class="currentplans" onclick="toggle(1)">Current Plans</li>
        <li id="previousTab" class="previousplans" onclick="toggle(2)">Previous Plans</li>
    </ul>

    <div id="currentp-section">
        {% if ongoing == None %}
        <div class="myplanstrips" onclick="window.open('/itinerary/planning/planner','_self');">
            <div class="planimg">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">&nbsp;</h1>
                <h2 class="planname">Create new trip</h2>
                <h3 class="plandate"></h3>
            </div>
        </div>
        {% else %}
        <div class="myplanstrips">
            <div class="planimg">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">
                    {% if iti.getStatus() == "Ongoing" %}In Progress{% endif %}
                </h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{startEnds[iti.getPlannerId()].start}} - {{startEnds[iti.getPlannerId()].end}}</h3>
            </div>
        </div>
        {% endif %}

        {% for iti in planners %}
        {% if iti.getStatus() != "Completed" %}
        <div class="myplanstrips">
            <div class="planimg">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">
                    {% if iti.getStatus() == "Ongoing" %}In Progress
                    {% elif iti.getStatus() == "Planning" %}Planning
                    {% elif iti.getStatus() == "Saved" %}Starts on {{startEnds[iti.getPlannerId()].start}} {% endif %}
                </h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{startEnds[iti.getPlannerId()].start}} - {{startEnds[iti.getPlannerId()].end}}</h3>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div id="previousp-section" style="display: none;">
        {% for iti in planners %}
        {% if iti.getStatus() == "Completed" %}
        <div class="myplanstrips">
            <div class="planimg">
            </div>
    
            <div class="planinfo">
                <h1 class="planprogress">
                    Ended on {{startEnds[iti.getPlannerId()].end}}
                </h1>
                <h2 class="planname">My SG Trip</h2>
                <h3 class="plandate">{{startEnds[iti.getPlannerId()].start}} - {{startEnds[iti.getPlannerId()].end}}</h3>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    </section>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function toggle(index) {
        if (index == 1) {
            document.getElementById("currentTab").classList.add("currentplans");
            document.getElementById("currentTab").classList.remove("previousplans");
            document.getElementById("previousTab").classList.add("previousplans");
            document.getElementById("previousTab").classList.remove("currentplans");

            $("#previousp-section").show();
            $("#currentp-section").hide();
        }
        else {
            document.getElementById("previousTab").classList.add("currentplans");
            document.getElementById("previousTab").classList.remove("previousplans");
            document.getElementById("currentTab").classList.add("previousplans");
            document.getElementById("currentTab").classList.remove("currentplans");

            $("#currentp-section").show();
            $("#previousp-section").hide();
        }
    }
</script>
{% endblock %}