{% extends "base.html" %}
{% block title %}Redpins Buffer - Planner{% endblock %}

{% block content %}
<div class="device" id="reloadingbg" style="display: none;">
    <img src="/static/images/logo.gif" alt="logo" class="relogogif">
    <p>Hang tight while we find the best places for you...</p>
</div>

<div class="main-div">
    {% if itinerary != None %}
    <div class="device" id="firstSelection" style="position: absolute; z-index:2; background-color: white; display: none;">
    {% else %}
    <div class="device" id="firstSelection" style="position: absolute; z-index:2; background-color: white;">
    {% endif %}
        {% if itinerary != None %}
        <div id="itinerary-id" hidden>{{itinerary.getId()}}</div>
        <div>
            <label>Start Time</label>
            <input id="start-time" type="time" class="form-control" value="{{itinerary.getStartTime()}}" onkeyup="checkFirstPage();" required>
        </div>
        <div>
            <label>End Time</label>
            <input id="end-time" type="time" class="form-control" value="{{itinerary.getEndTime()}}" onkeyup="checkFirstPage();" required>
        </div>
        <div>
            <label>Start Location</label>
            <input id="start-location" type="text" class="form-control" value="{{itinerary.getPlaces()[0]['Name']}}" onkeyup="pauseSearch(this, 'Start');checkFirstPage();" required>
            <div class="dropdown-menu-search" style="display: none;">
            </div>
            {% for attr in itinerary.getPlaces()[0] %}
                {% if itinerary.getPlaces()[-1][attr] != None %}<span id="start-location-{{attr | lower}}" hidden>{{itinerary.getPlaces()[0][attr]}}</span>{% endif %}
            {% endfor %}
        </div>
        <div>
            <label>End Location</label>
            <input id="end-location" type="text" class="form-control" value="{{itinerary.getPlaces()[-1]['Name']}}" onkeyup="pauseSearch(this, 'End');checkFirstPage();" required>
            <div class="dropdown-menu-search" style="display: none;">
            </div>
            {% for attr in itinerary.getPlaces()[-1] %}
                {% if itinerary.getPlaces()[-1][attr] != None %}<span id="end-location-{{attr | lower}}" hidden>{{itinerary.getPlaces()[-1][attr]}}</span>{% endif %}
            {% endfor %}
        </div>
        {% else %}
            <div id="itinerary-id" hidden></div>
            <div>
                <label>Start Time</label>
                <input id="start-time" type="time" class="form-control" onkeyup="checkFirstPage();" required>
            </div>
            <div>
                <label>End Time</label>
                <input id="end-time" type="time" class="form-control" onkeyup="checkFirstPage();" required>
            </div>
            {% set attributes = ["name", "address", "latlng"] %}
            <div style="position: relative;">
                <label>Start Location</label>
                <input id="start-location" type="text" class="form-control" value="Your Location" onkeyup="pauseSearch(this, 'Start');checkFirstPage();" required>
                <div class="dropdown-menu-search" style="display: none;">
                </div>
                <span id="start-location-name" hidden>Current Location</span>
                <span id="start-location-address" hidden></span>
                <span id="start-location-latlng" hidden></span>
            </div>
            <div style="position: relative;">
                <label>End Location</label>
                <input id="end-location" type="text" class="form-control" onkeyup="pauseSearch(this, 'End');checkFirstPage();" required>
                <div class="dropdown-menu-search" style="display: none;">
                </div>
                {% for attr in attributes %}
                <span id="end-location-{{attr}}" hidden></span>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <h5>Select mode of transport</h5>
            <div style="display: inline;" onclick="checkFirstPage();">
                <label for="trans-walk">Walk</label>
                {% if itinerary != None %}
                    {% if itinerary.getTransportMode() == "walk" %} <input type="radio" name="transportMode" id="trans-walk" value="walk" checked>
                    {% else %} <input type="radio" name="transportMode" id="trans-walk" value="walk"> {% endif %}
                    <label for="trans-publicTransport">Public Transport</label>
                    {% if itinerary.getTransportMode() == "pt" %} <input type="radio" name="transportMode" id="trans-publicTransport" value="pt" checked>
                    {% else %} <input type="radio" name="transportMode" id="trans-publicTransport" value="pt">{% endif %}
                    <label for="trans-drive">Drive</label>
                    {% if itinerary.getTransportMode() == "drive" %} <input type="radio" name="transportMode" id="trans-drive" value="drive" checked>
                    {% else %} <input type="radio" name="transportMode" id="trans-drive" value="drive">{% endif %}
                    <label for="trans-cycle">Cycle</label>
                    {% if itinerary.getTransportMode() == "cycle" %} <input type="radio" name="transportMode" id="trans-cycle" value="cycle" checked>
                    {% else %} <input type="radio" name="transportMode" id="trans-cycle" value="cycle">{% endif %}
                {% else %}
                <input type="radio" name="transportMode" id="trans-walk" value="walk">
                <label for="trans-publicTransport">Public Transport</label>
                <input type="radio" name="transportMode" id="trans-publicTransport" value="pt">
                <label for="trans-drive">Drive</label>
                <input type="radio" name="transportMode" id="trans-drive" value="drive">
                <label for="trans-cycle">Cycle</label>
                <input type="radio" name="transportMode" id="trans-cycle" value="cycle">
                {% endif %}
            </div>
        </div>

        <button class="next" id="firstPageNext" onclick="dismissFirst();" disabled>Next</button>
    </div>

    {% if itinerary != None %}
    <div class="device" id="planPage">
    {% else %}
    <div class="device" id="planPage" style="display: none;">
    {% endif %}
        <div class="float-right">
            <a href="/itinerary/showTrip">Map</a>
        </div>
    
        {% if itinerary != None %}
        <div id="startTime-text">Start time: {{itinerary.getStartTime()}}</div>
        <div id="endTime-text">End time: {{itinerary.getEndTime()}}</div>
        <div id="time-left">Duration left: <span>{{itinerary.getTimeLeft()| int}}</span></div>
    
        <div id="transport-text">Transport mode: {% if itinerary.getTransportMode() == "pt" %}Public Transport{% else %}{{itinerary.getTransportMode()}}{% endif %}</div>
        <div>Category: Eateries</div>
        {% else %}
        <div id="startTime-text">Start time: </div>
        <div id="endTime-text">End time: </div>
        <div id="time-left">Duration left: <span></span></div>
    
        <div id="transport-text">Transport mode: </div>
        <div>Category: Eateries</div>
        {% endif %}

        <div id="start">Start location: </div>
    
        <div id="recommendation-listings">
            {% if itinerary != None %}
                {% for i in range(itinerary.getPlaces()| length) %}
                <div class="card plan-selection">
                    <h5 class="plan-name">{{itinerary.getPlaces()[i].Name}}</h5>
                    <p class="plan-address" style="font-size:12px">{{itinerary.getPlaces()[i].Address}}</p>
                    <br />
                    <p class="plan-activity-duration">{% if itinerary.getPlaces()[i].ActivityDuration %}<span>{{itinerary.getPlaces()[i].ActivityDuration}}</span> min{% else %}<span></span>{% endif %}</p>
                    <p class="plan-total-duration">{% if itinerary.getPlaces()[i].TotalDuration %}<span>{{itinerary.getPlaces()[i].TotalDuration|int}}</span> min{% else %}<span></span>{% endif %}</p>
                    <p class="plan-latlng" hidden>{{itinerary.getPlaces()[i].Latlng}}</p>
                </div>
                {% if i != itinerary.getPlaces()| length - 1 %}<button class="btn-addPlan btn-addColor" onclick="recommend(1, parseInt('{{i+1}}'));">  +  </button>{% endif %}
                {% endfor %}
            {% else %}
            <button class="btn-addColor" onclick="removeFirstBtn(this); recommend(1, 1);">+ Add place</button>
            {% endif %}
        </div>
        <button class="btn btn-primary" id="next-recommend-btn" onclick="nextRecommend();">Next</button>
        <br>
    
        <form method="POST">
            <input type="submit" value="Done" class="btn btn-primary">
        </form>
    </div>
    
    <div id="listingPage" style="display: none;">

    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var post;
    var skipped = [0];
    var originalDuration = parseInt(document.getElementById("time-left").querySelector("span").innerText) || 0;
    var allowanceLeft = parseInt(document.getElementById("time-left").querySelector("span").innerText) || 0;
    var pendingChooseList = {};

    /*function initFunctions() {
        $("#recommend-btn").on("click", function() {
            recommend(1);
        })
        $("#next-recommend-btn").on("click", function() {
            recommend(pageNum);
            pageNum += 1;
        })
    }*/

    function checkFirstPage() {
        var firstSelection = document.getElementById("firstSelection");
        var allInps = firstSelection.getElementsByTagName("input");
        var radioChecked = firstSelection.querySelector('input[type="radio"]:checked');

        var nextBtn = document.getElementById("firstPageNext");
        var valid = true;
        for (var i=0; i<allInps.length; i++) {
            if (allInps[i].value.trim() == "") {
                valid = false;
                break;
            }
        }
        if (valid && radioChecked) {
            nextBtn.style.background = "linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%)";
            nextBtn.style.color = "white";
            nextBtn.disabled = false;
        }
        else {
            nextBtn.style.background = "#EEEEEE";
            nextBtn.style.color = "#BBBBBB";
            nextBtn.disabled = true;
        }
    }

    function dismissFirst() {
        startTme = $("#start-time").val();
        endTme = $("#end-time").val();
        if (startTme == "") {
            $("#start-time").focus()
        }
        else if (endTme == "") {
            $("#end-time").focus()
        }
        else if ($("input[type=radio]:checked").length == 0) {
            console.log("Check checkboxes");
        }
        else {
            // Displays
            document.getElementById("startTime-text").innerText += startTme;
            document.getElementById("endTime-text").innerText += endTme;
            document.getElementById("transport-text").innerText += document.querySelector(`label[for="${document.querySelector('input[name="transportMode"]:checked').id}"]`).innerText;
            startTmeArr = startTme.split(":");
            endTmeArr = endTme.split(":");
            var startDate = new Date(0, 0, 0, startTmeArr[0], startTmeArr[1], 0);
            var endDate = new Date(0, 0, 0, endTmeArr[0], endTmeArr[1], 0);
            var diff = endDate.getTime() - startDate.getTime();
            allowanceLeft = Math.floor(diff / 1000 / 60);
            originalDuration = Math.floor(diff / 1000 / 60);
            document.getElementById("time-left").querySelector("span").innerText = allowanceLeft;

            div = document.getElementById("recommendation-listings");
            var startPlace = new DOMParser().parseFromString(`
                <div class="card plan-selection">
                    <h5 class="plan-name">${$("#start-location").val()}</h5>
                    <p class="plan-address" style="font-size:12px">${$("#start-location-address").text()}</p>
                    <br />
                    <p class="plan-latlng" hidden>${$("#start-location-latlng").text()}</p>
                </div>`, "text/html").body.firstElementChild;
            var endPlace = new DOMParser().parseFromString(`
                <div class="card plan-selection">
                    <h5 class="plan-name">${$("#end-location").val()}</h5>
                    <p class="plan-address" style="font-size:12px">${$("#end-location-address").text()}</p>
                    <br />
                    <p class="plan-latlng" hidden>${$("#end-location-latlng").text()}</p>
                </div>`, "text/html").body.firstElementChild;

            div.insertBefore(startPlace, div.firstChild);
            div.appendChild(endPlace);

            // Pull screen down
            $("#firstSelection").animate({
                bottom: "-200vh"
            }, 350, function() {
                $("#firstSelection").hide();
            })
            $("#planPage").show();

        }
    }

    function removeFirstBtn(btn) {
        btn.classList.add("btn-addPlan")
        btn.innerText = " +  ";
    }

    function nextRecommend() {
        recommend(pageNum);
        pageNum += 1;
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showRoute)
        }
    }

    function showRoute(position) {
        latLngStr = position.coords.latitude + "," + position.coords.longitude
        document.getElementById("start").innerText += latLngStr
        if (document.getElementById("start-location-name").innerText == "Current Location") {
            document.getElementById("start-location-latlng").innerText = latLngStr
        }

        post = position
    }

    // Order - the positional order of the button in DOM
    function recommend(pageNum, order) {
        startTme = $("#start-time").val();
        endTme = $("#end-time").val();
        transportMde = document.querySelector('input[name="transportMode"]:checked').value;

        div = document.getElementById("recommendation-listings");

        $("#reloadingbg").show();

        $.ajax({
            type: "POST",
            url: `/funcs/planner-recommend-places?page=${pageNum}`,
            data: {
                startTime: startTme,
                endTime: endTme,
                timeLeft: allowanceLeft,
                latitude: post.coords.latitude,
                longitude: post.coords.longitude,
                category: "Eateries",
                transportMode: transportMde,
                skipped: JSON.stringify(skipped)
            },
            success: function(result) {
                cleanedResult = result.replaceAll("\\u", "").replaceAll("NaN", `""`);
                result = JSON.parse(cleanedResult);
                pendingChooseList[order] = result;
                pendingChooseList[order].pageNum = 2;

                var listing = new DOMParser().parseFromString(
                    `<div class="plan-choices-list">
                    </div>`, "text/html").body.firstElementChild;

                var allAddBtns = div.getElementsByClassName("btn-addPlan");
                console.log(order+", "+allAddBtns.length)
                
                div.insertBefore(listing, allAddBtns[order-1].nextSibling);

                if (result.list.length > 0) {
                    for (var i in result.list) {
                        listing.innerHTML += 
                        `<div class="card plan-selection" style="width:150px; height:175px; margin-right: 1em; max-width:
                            flex-basis: 33.333%;
                            flex-grow: 0;
                            flex-shrink: 0;" onclick="choosePlace(this, ${order}, ${i});">
                            <h5>${result.list[i].Name}</h5>
                            <p style="font-size:12px">${result.list[i].Address}</p>
                            <br />
                            <p>Matching ${result.list[i].RecommendationScore.toFixed(2)}</p>
                        </div>`;

                    }
                }
                else {
                    listing.innerHTML += `<div class="card">There isn't any available places to be added</div>`;
                    var allBtns = div.getElementsByClassName("btn-addPlan");
                    for (var i=0; i<allBtns.length; i++) {
                        allBtns[i].disabled = true;
                        allBtns[i].classList.remove("btn-addColor");
                    }
                }

                listing.innerHTML += `<p onclick="nextRecommend()" class="list-load-more">Load more</p>`;
                reAssignValues();
            },
            error: function(jq, status, errorMsg) {
                div.innerText = 
                `<div class="plan-choices-list">
                    Something went wrong. Try again
                </div>`;
            },
            complete: function(result) {
                $("#reloadingbg").hide();
            }
        });
    }

    function choosePlace(btn, order, itemNo) {
        btn.parentElement.remove()
        div = document.getElementById("recommendation-listings");
        var info = pendingChooseList[order].list[itemNo];

        var newPlace = new DOMParser().parseFromString(`
            <div class="card plan-selection">
                <h5 class="plan-name">${info.Name}</h5>
                <p class="plan-address" style="font-size:12px">${info.Address}</p>
                <br />
                <p class="plan-activity-duration"><span>${Math.round(info.ActivityDuration)}</span> min</p>
                <p class="plan-total-duration"><span>${Math.round(info.Duration)}</span> min</p>
                <p class="plan-latlng" hidden>${info.Latlng}</p>
            </div>`, "text/html").body.firstElementChild;
        var newBtn = new DOMParser().parseFromString(`   
            <button class="btn-addPlan btn-addColor" onclick="recommend(1, ${order+1});">  +  </button>`, "text/html").body.firstElementChild;

        var allAddBtns = div.getElementsByClassName("btn-addPlan");
        console.log(order, allAddBtns.length)
        
        div.insertBefore(newBtn, allAddBtns[order-1].nextSibling);
        div.insertBefore(newPlace, allAddBtns[order-1].nextSibling);
        
        allowanceLeft -= info.Duration;
        console.log(allowanceLeft);
        document.getElementById("time-left").querySelector("span").innerText = parseInt(allowanceLeft);
        
        // Fill up info for autosaving data

        saveTrips();
        reAssignValues();
    }

    function reAssignValues() {
        var div = document.getElementsByClassName("btn-add-place");
        for (var i=0; i<div.length; i++) {
            div[i].setAttribute("onclick", `recommend(1, ${i+1});`);
        }
    }

    function saveTrips() {
        startTme = $("#start-time").val();
        endTme = $("#end-time").val();

        // Update db function
        itineraryId = document.getElementById("itinerary-id").innerText;
        var allPlacesDiv = document.getElementsByClassName("plan-selection");
        var placesName = [];
        var placesAddress = [];
        var placesActivityDuration = [];
        var placesDuration = [];
        var placesLatlng = [];

        for (var i=0; i<allPlacesDiv.length; i++) {
            placesName.push(allPlacesDiv[i].querySelector(".plan-name").innerText);
            placesAddress.push(allPlacesDiv[i].querySelector(".plan-address").innerText);
            if (i == 0 || i == allPlacesDiv.length-1) {
                placesActivityDuration.push(null);
                placesDuration.push(null);
            }
            else {
                placesActivityDuration.push(parseInt(allPlacesDiv[i].querySelector(".plan-activity-duration").querySelector("span").innerText));
                placesDuration.push(parseInt(allPlacesDiv[i].querySelector(".plan-total-duration").querySelector("span").innerText));
            }
            placesLatlng.push(allPlacesDiv[i].querySelector(".plan-latlng").innerText);
        }

        $.ajax({
            type: "POST",
            url: `/funcs/save-trip`,
            data: {
                id: itineraryId,
                tripType: "Planner",
                tripName: "Hello",
                date: "Today",
                startTime: startTme,
                endTime: endTme,
                names: placesName,
                addresses: placesAddress,
                activityDuration: placesActivityDuration,
                duration: placesDuration,
                latlngs: placesLatlng,
                timeAllowance: originalDuration,
                timeLeft: allowanceLeft,
                transportMode: "pt",
                confirmed: false,
                status: "Planned"
            },
            success: function(result) {
                document.getElementById("itinerary-id").innerText = JSON.parse(result).id;
                console.log("System: Trip has been autosaved");
            }
        })
    }

    var canSearch = true;
    var dropdownCooldown = false;

    function pauseSearch(inp, type) {
        canSearch = false;
        setTimeout(function() {
            canSearch = true;
            search(inp, type)
        }, 1000)
    }

    function search(inp, type) {
        if (canSearch) {
            var dropdownMenu = inp.parentElement.querySelector(".dropdown-menu-search");
            const search = inp.value;
            const pageNum = $("#searchPage").val()
            if (!search) {
                dropdownMenu.style.display = "none"; 
            }
            else {
                $.ajax({
                    url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                    success: function(result) {
                        dropdownMenu.innerHTML = "";
                        showLength = 6;
                        if (result.results.length > 0) {
                            dropdownMenu.style.display = "block";
                            if (result.results.length < 6) {
                                showLength = result.results.length;
                            }

                            for (var i=0; i<showLength; i++) {
                                dropdownCooldown = true;
                                record = result.results[i]
                                dropdownMenu.innerHTML += `
                                <div class="dropdown-item" onclick="add${type}(this);">
                                    <p style="font-size: 14px; margin-bottom: 3px; font-weight: bold;">${capitalize(record.SEARCHVAL)}</p>
                                    <p style="font-size: 11px; max-width: 100%; overflow: auto; margin-bottom: 3px;">${capitalize(record.ADDRESS)}</p>
                                    <p hidden>${record.LATITUDE},${record.LONGITUDE}</p>
                                </div>`;

                                setTimeout(function () { dropdownCooldown = false; }, 126)
                            }
                        }
                        else {
                            dropdownMenu.innerHTML = `<div class="dropdown-item">No results found</div>`; 
                        }
                }});
            }
            
        }       
    } 

    function searchNextPage() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    }

    startEndAttr = ["name", "address", "latlng"];

    function addStart(div) {
        $("#start-location").val(div.children[0].innerText);
        for (var i=0; i<startEndAttr.length; i++) {
            document.querySelector(`#start-location-${startEndAttr[i]}`).innerText = div.children[i].innerText;
        }
    }

    function addEnd(div) {
        $("#end-location").val(div.children[0].innerText);
        for (var i=0; i<startEndAttr.length; i++) {
            document.querySelector(`#end-location-${startEndAttr[i]}`).innerText = div.children[i].innerText;
        }
    }

    // initFunctions();
    getLocation();

    window.addEventListener('load', function () {
        document.addEventListener('click', function (event) {
            const allTabs = document.getElementsByClassName("dropdown-menu-search");
            const endInp = document.getElementById("end-location");
            const startInp = document.getElementById("start-location");

            if (![].slice.call(allTabs).find(x => x === event.target) && event.target != endInp && event.target != startInp) {
                if (!dropdownCooldown) {
                    for (var i in allTabs) {
                        allTabs.item(i).style.display = "none";
                    }
                }
            }
        });
    });

</script>
{% endblock %}