{% extends "base.html" %}
{% block title %}Redpins Buffer - Planner{% endblock %}

{% block content %}
<div class="device" id="reloadingbg" style="display: none;">
    <img src="/static/images/logo.gif" alt="logo" class="relogogif">
    <p>Hang tight while we find the best places for you...</p>
</div>

<div class="main-div">
    {% if itineraries != None %}
    <div id="initForm" style="position: absolute; z-index:2; background-color: white; display: none;">
    {% else %}
    <div id="initForm" style="position: absolute; z-index:2; background-color: white;">
    {% endif %}
        <label for="">Where to?</label>
        <input type="text" id="city" value="Local">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" onchange="checkResetEndDate(); checkInitPage();">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" onchange="checkInitPage();">

        <button class="maincta-disabled" id="initPageNext">Next</button>
    </div>

    <div id="dates-selection" style="display: inline; overflow-x: auto;">
        {% if itineraries != None %}{% for itinerary in itineraries %}
        <div class="card card-date" style="width: 100px;" onclick="toggleDay(this);">
            <h5>{{itinerary.getDate().strftime("%Y-%m-%d")}}</h5>
        </div>
        {% endfor %}{% endif %}
        <div class="card" id="card-date-add" style="width: 100px;">
            <h5>+ Add day</h5>
        </div>
    </div>
    
    {% if itineraries == None %}
    <div id="planPage" style="display: none;">
    {% else %}
    <div id="planPage" style="display: block;">
    {% endif %}
        {% if itineraries == None %}
        <div class="device planSection" style="display: none;">
            <div class="float-right">
                <a href="/itinerary/showTrip">Map</a>
            </div>

            <div class="startTime-text">Start time: </div>
            <div class="endTime-text">End time: </div>
            <div class="time-left">Duration left: <span></span></div>
            <div class="transport-text">Transport mode: </div>

            <div class="recommendation-listings">
                <button class="btn-addColor start-location" onclick="openSearch(this, '1');">+ Add start Location</button>
            </div>

            <input class="itinerary-id" hidden readonly>
        </div>
        {% else %}
            {% for i in range(itineraries|length) %}
            {% set itinerary = itineraries[i] %}
            <div class="device planSection" style="display: none;">
                <div class="float-right">
                    <a href="/itinerary/showTrip">Map</a>
                </div>
                
                <input type="text" class="itinerary-id" value="{{itinerary.getId()}}" hidden readonly>
                <div class="startTime-text">Start time: {{itinerary.getStartTime()}}</div>
                <div class="endTime-text">End time: {{itinerary.getEndTime()}}</div>
                <div class="time-left">Duration left: <span>{{itinerary.getTimeLeft()| int}}</span></div>
                <div class="transport-text">Transport mode: </div>
            
                <div class="recommendation-listings">
                    {% if itinerary.getPlaces()| length == 0 %}
                    <button class="btn-addColor start-location" onclick="openSearch(this, '{{i+1}}');">+ Add start Location</button>
                    {% elif itinerary.getPlaces()| length == 1 %}
                    <div class="card plan-selection start">
                        <h5 class="plan-name">{{itinerary.getPlaces()[0].Name}}</h5>
                        <p class="plan-address" style="font-size:12px">{{itinerary.getPlaces()[0].Address}}</p>
                        <br />
                        <p class="plan-timing"></p>
                        <p class="plan-latlng" hidden>{{itinerary.getPlaces()[0].Latlng}}</p>
                    </div>
                    <button class="btn-addColor" onclick="removeFirstBtn(this); recommend(1, 1, this);">+ Add a place</button>
                        {% if not itinerary.getEnd() %}
                        <button class="btn-addColor end-location" onclick="openSearch(this, '{{i+1}}');">+ Add end Location</button>
                        {% endif %}
                    {% else %}
                        {% for i in range(itinerary.getPlaces()| length) %}
                            <div class="card plan-selection {% if i == itinerary.getPlaces()| length - 1 and itinerary.getEnd() %}end{% endif %}">
                                <h5 class="plan-name">{{itinerary.getPlaces()[i].Name}}</h5>
                                <p class="plan-address" style="font-size:12px">{{itinerary.getPlaces()[i].Address}}</p>
                                <br />
                                <p class="plan-timing"></p>
                                <p class="plan-activity-duration">{% if itinerary.getPlaces()[i].ActivityDuration %}<span>{{itinerary.getPlaces()[i].ActivityDuration}}</span> min{% else %}<span></span>{% endif %}</p>
                                <p class="plan-total-duration">{% if itinerary.getPlaces()[i].TotalDuration %}<span>{{itinerary.getPlaces()[i].TotalDuration|int}}</span> min{% else %}<span></span>{% endif %}</p>
                                <p class="plan-latlng" hidden>{{itinerary.getPlaces()[i].Latlng}}</p>
                            </div>
                            {% if i != itinerary.getPlaces()| length - 1 %}
                            <button class="btn-addPlan btn-addColor" onclick="recommend(1, parseInt('{{i+1}}'), this);">  +  </button>
                            {% elif not itinerary.getEnd() %}
                            <button class="btn-addPlan btn-addColor" onclick="recommend(1, parseInt('{{i+1}}'), this);">  +  </button>
                            {% endif %}
                        {% endfor %}
                        {% if not itinerary.getEnd() %}
                        <button class="btn-addColor end-location" onclick="openSearch(this, '{{i+1}}');">+ Add end Location</button>
                        {% endif %}
                    {% endif %}
                </div>
                <button class="btn btn-primary" id="next-recommend-btn" onclick="nextRecommend();">Next</button>

                <input class="itinerary-id" value="{{itinerary.getId()}}" hidden readonly>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Search Page -->
    <div class="device" id="searchTab" style="position: absolute; z-index:2; background-color: white; display: none; bottom: -200vh;">
        <input type="text" class="form-control" id="searchBar" onkeyup="pauseSearch();" autocomplete="off">
        <div id="searchPage" hidden>1</div>
        <div id="search-btnId" hidden></div>
        <div id="search-divOrder" hidden></div>
        <div class="dropdown-item" id="start" onclick="addSE(this);">
            <p style="font-size: 14px; margin-bottom: 3px; font-weight: bold;">Your Location</p>
            <p style="font-size: 11px; max-width: 100%; overflow: auto; margin-bottom: 3px; display: none;">Current Location</p>
            <p id="start-latlng" hidden></p>
        </div>
        <div id="search-results">
        </div>
    </div>

    <form method="POST">
        <input id="planner-id" name="plannerId" value="{% if itineraries != None %}{{itineraries[0].getPlannerId()}}{% endif %}" hidden readonly>
        <input type="submit" value="Review Trip" class="btn btn-primary">
    </form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var skipped = [0];
    var pendingChooseList = {};
    var startTime = new Date("2022-01-01 08:00:00");
    var allowanceLeft;
    var originalDuration;
    const currentDate = new Date();

    function initFunctions() {
        getLocation();
        const todayDate = currentDate.toISOString().split("T")[0]
        document.getElementById("startDate").min = todayDate;
        document.getElementById("startDate").value = todayDate;

        document.getElementById("endDate").min = todayDate;

        document.querySelector(".planSection").style.display = "block";
        toggleDay(0);
        initAllowance();
    }

    function initAllowance() {
        // Set time allowance
        var startTmeArr = ["08", "00"];
        var endTmeArr = ["23", "59"];
        var startDate = new Date(0, 0, 0, startTmeArr[0], startTmeArr[1], 0);
        var endDate = new Date(0, 0, 0, endTmeArr[0], endTmeArr[1], 0);
        var diff = endDate.getTime() - startDate.getTime();
        allowanceLeft = Math.floor(diff / 1000 / 60);
        originalDuration = Math.floor(diff / 1000 / 60);
    }

    function checkInitPage() {
        var valid = true;
        var initDiv = document.getElementById("initForm");
        var allInps = initDiv.getElementsByTagName("input");
        var nextBtn = document.getElementById("initPageNext");

        for (var i=0; i<allInps.length; i++) {
            if (allInps[i].value.trim() == "") {
                valid = false;
                break;
            }
        }

        var startDateVal = $("#startDate").val();
        if (isNaN(Date.parse(startDateVal)))
            valid = false;
        if (isNaN(Date.parse(endDate.value)))
            valid = false;

        if (valid) {
            nextBtn.setAttribute("onclick", "dismissInit();")
            nextBtn.classList.remove("maincta-disabled");
            nextBtn.classList.add("maincta");
        }
        else {
            nextBtn.removeAttribute("onclick");
            nextBtn.classList.remove("maincta");
            nextBtn.classList.add("maincta-disabled");
        }
    }
    var oldVal;
    function checkResetEndDate() {
        var startDateVal = $("#startDate").val();
        var endDateVal = $("#endDate").val();

        if (startDateVal.trim()) {
            if (startDateVal != oldVal) {
                $("#endDate").val("");
                $("#endDate").attr("min", new Date(startDateVal).toISOString().split("T")[0]);
                oldVal = startDateVal;
            }
        }
    }
    function dismissInit() {
        var initDiv = document.getElementById("initForm");
        var datesDiv = document.getElementById("dates-selection");
        var plansDiv = document.getElementById("planPage");
        var firstDiv = document.getElementById("firstSelection");
        var startDate = new Date($("#startDate").val());
        var endDate = new Date($("#endDate").val());

        var days = Math.ceil((endDate.getTime() - startDate.getTime()) / (1000 * 3600 * 24)) + 1;
        var datesSelection = document.querySelector("#dates-selection");
        var dateCards = document.getElementsByClassName("card-date")
        for (var i=0; i<dateCards.length; i++) {
            dateCards[i].remove();
        }

        // Add days card
        var checkDate = startDate;
        var plansSec = document.querySelector(".planSection");

        for (var i=0; i<days; i++) {
            var cardDate = new DOMParser().parseFromString(`
            <div class="card card-date" style="width: 100px;" onclick="toggleDay(this);">
                <h5>${checkDate.toISOString().slice(0, 10)}</h5>
            </div>`, "text/html").body.firstElementChild;

            datesDiv.insertBefore(cardDate, document.querySelector("#card-date-add"));
            checkDate.setDate(checkDate.getDate() + 1);

            if (i > 0) {
                var clonedPlansSec = plansSec.cloneNode(true);
                clonedPlansSec.style.display = "none";
                plansDiv.appendChild(clonedPlansSec);
            }
        }

        // Display
        document.querySelector(".card-date").classList.add("addColor");

        initAllowance();

        // document.querySelector(".planSection").style.display = "block";
        // Pull screen down
        $("#initForm").animate({
            bottom: "-200vh"
        }, 350, function() {
            $("#initForm").hide();
        });
        $("#planPage").show();

        saveTrips();
    }

    function removeFirstBtn(btn) {
        btn.classList.add("btn-addPlan")
        btn.innerText = " +  ";
    }

    function nextRecommend() {
        recommend(pageNum);
        pageNum += 1;
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showRoute)
        }
    }

    function showRoute(position) {
        latLngStr = position.coords.latitude + "," + position.coords.longitude;
        document.getElementById("start-latlng").innerText += latLngStr;

        var post = document.getElementById("start-latlng").innerText.split(",");
    }

    // Order - the positional order of the button in DOM
    function recommend(pageNum, order, btn) {
        var planSection = btn.closest(".planSection")
        var div = planSection.querySelector(".recommendation-listings");
        var allCards = div.getElementsByClassName("plan-selection");

        var beforeDiv = document.getElementsByClassName("plan-selection")[order-1];
        if (beforeDiv && order > 1) {
            calStartTme = startTime;
            for (var i=1; i<order; i++) {
                calStartTme = new Date(calStartTme.getTime() + parseFloat(allCards[i].querySelector(".plan-total-duration").querySelector("span").innerText)*60000);
            }
            
            var startTmeUn = calStartTme.toLocaleTimeString('en-SG', {hour12: false});
            startTme = startTmeUn.substring(0, startTmeUn.length-3);
            if (startTme.length == 4) {
                startTme = 0 + startTme;
            }
        }

        transportMde = "pt";

        $("#reloadingbg").show();
        // Get place before and registered places
        var registeredPlaces = [].slice.call(allCards).slice(1, allCards.length - 1).map(x => x.querySelector(".plan-address").innerText);
        if (order - 1 > 0) {
            var placeBefore = allCards[order-1].querySelector(".plan-address").innerText;
            var latlng = allCards[order-1].querySelector(".plan-latlng").innerText.split(",");
        }
        else {
            var placeBefore;
            var latlng = document.getElementById("start-latlng").innerText.split(",");
        }

        if (order < allCards.length) {
            var placeAfter = allCards[order].querySelector(".plan-address").innerText;
        }
        else {
            var placeAfter;
        }
        
        console.log(allowanceLeft);
        $.ajax({
            type: "POST",
            url: `/funcs/planner-recommend-places?page=${pageNum}`,
            data: {
                date: "2022-05-12",
                startTime: "05:00",
                endTime: "23:59",
                timeLeft: allowanceLeft,
                latitude: latlng[0],
                longitude: latlng[1],
                category: "Eateries",
                transportMode: transportMde,
                skipped: JSON.stringify(skipped),
                placesAdded: registeredPlaces,
                abovePlace: placeBefore,
                belowPlace: placeAfter
            },
            success: function(result) {
                cleanedResult = result.replaceAll("\\u", "").replaceAll("NaN", `""`);
                result = JSON.parse(cleanedResult);
                pendingChooseList[order] = result;
                pendingChooseList[order].pageNum = 2;

                var listing = new DOMParser().parseFromString(
                    `<div class="plan-choices-list">
                    </div>`, "text/html").body.firstElementChild;

                var allAddBtns = div.getElementsByClassName("btn-addPlan");
                console.log(order+", "+allAddBtns.length)
                
                div.insertBefore(listing, allAddBtns[order-1].nextSibling);

                if (result.list.length > 0) {
                    for (var i in result.list) {
                        listing.innerHTML += 
                        `<div class="card plan-selection" style="width:150px; height:175px; margin-right: 1em; max-width:
                            flex-basis: 33.333%;
                            flex-grow: 0;
                            flex-shrink: 0;" onclick="choosePlace(this, ${order}, ${i});">
                            <h5>${result.list[i].Name}</h5>
                            <p style="font-size:12px">${result.list[i].Address}</p>
                            <br />
                            <p>Matching ${result.list[i].RecommendationScore.toFixed(2)}</p>
                        </div>`;

                    }
                }
                else {
                    listing.innerHTML += `<div class="card">There isn't any available places to be added</div>`;
                    var allBtns = div.getElementsByClassName("btn-addPlan");
                    for (var i=0; i<allBtns.length; i++) {
                        allBtns[i].disabled = true;
                        allBtns[i].classList.remove("btn-addColor");
                    }
                }

                listing.innerHTML += `<p onclick="nextRecommend()" class="list-load-more">Load more</p>`;
            },
            error: function(jq, status, errorMsg) {
                div.innerHTML = 
                `<div class="plan-choices-list">
                    Something went wrong. Try again
                </div>`;
            },
            complete: function(result) {
                $("#reloadingbg").hide();
            }
        });
    }

    function choosePlace(btn, order, itemNo) {
        var div = btn.closest(".recommendation-listings");
        btn.parentElement.remove();
        var info = pendingChooseList[order].list[itemNo];

        var newPlace = new DOMParser().parseFromString(`
            <div class="card plan-selection">
                <h5 class="plan-name">${info.Name}</h5>
                <p class="plan-address" style="font-size:12px">${info.Address}</p>
                <br />
                <p class="plan-timing"></p>
                <p class="plan-activity-duration"><span>${Math.round(info.ActivityDuration)}</span> min</p>
                <p class="plan-total-duration"><span>${Math.round(info.Duration)}</span> min</p>
                <p class="plan-latlng" hidden>${info.Latlng}</p>
            </div>`, "text/html").body.firstElementChild;
        var newBtn = new DOMParser().parseFromString(`   
            <button class="btn-addPlan btn-addColor" onclick="recommend(1, ${order+1});">  +  </button>`, "text/html").body.firstElementChild;

        var allAddBtns = div.getElementsByClassName("btn-addPlan");
        console.log(order, allAddBtns.length)
        
        div.insertBefore(newBtn, allAddBtns[order-1].nextSibling);
        div.insertBefore(newPlace, allAddBtns[order-1].nextSibling);
        
        allowanceLeft -= info.Duration;
        console.log(allowanceLeft);
        // document.getElementById("time-left").querySelector("span").innerText = parseInt(allowanceLeft);
        
        // Fill up info for autosaving data
        saveTrips();
        reAssignValues();
    }

    // Edit/delete/rearrange
    async function editCard(btn, order) {
        var card = btn.closest(".plan-selection");
        // var timeLeft = document.querySelector("#time-left").querySelector("span");
        card.closest(".recommendation-listings").getElementsByClassName("btn-addPlan")[order-1].remove();
        reAssignValues();

        // timeLeft.innerText = parseInt(timeLeft.innerText) + parseInt(card.querySelector(".plan-total-duration").querySelector("span").innerText);
        // allowanceLeft = timeLeft.innerText;
        await recommend(1, order-1);
        card.remove();
    }

    function delCard(btn, order) {
        var card = btn.closest(".plan-selection");
        var div = btn.closest("#recommendation-listings");
        div.getElementsByClassName("btn-addPlan")[order-1].remove();
        card.remove();

        // var timeLeft = document.querySelector("#time-left").querySelector("span");
        // timeLeft.innerText = parseInt(timeLeft.innerText) + parseInt(card.querySelector(".plan-total-duration").querySelector("span").innerText);
        // allowanceLeft = timeLeft.innerText;

        reAssignValues();
        reCal2Places(div, order-1);
    }

    // Recalculate route and travel time
    async function reCal2Places(div, order) {
        var cards = div.getElementsByClassName("plan-selection");
        var aboveCard = cards[order-1];
        var belowCard = cards[order];
        var totalDuration = 0;
        for (var i=1; i<order-1; i++) {
            console.log(cards[i].querySelector(".plan-total-duration").querySelector("span").innerText)
            var duration = parseFloat(cards[i].querySelector(".plan-total-duration").querySelector("span").innerText);
            totalDuration += duration;
        }

        await $.ajax({
            type: "POST",
            url: `/funcs/reCalculate`,
            data: {
                latlngs: [aboveCard.querySelector(".plan-latlng").innerText, belowCard.querySelector(".plan-latlng").innerText],
                routeType: document.getElementById("firstSelection").querySelector('input[type="radio"]:checked').value,
                date: currentTime.toISOString().slice(0, 10),
                topDuration: totalDuration,
                startTime: $("#start-time").val()
            },
            success: function(result) {
                result = JSON.parse(result);
                var belowCardTDuration = belowCard.querySelector(".plan-total-duration").querySelector("span");
                var belowCardADuration = belowCard.querySelector(".plan-activity-duration").querySelector("span");
                var timeDiff = result[0] + parseInt(belowCardADuration.innerText) - parseInt(belowCardTDuration.innerText);
                belowCardTDuration.innerText = parseInt(belowCardADuration.innerText) + result[0];
                document.querySelector("#time-left").querySelector("span").innerText = parseInt(document.querySelector("#time-left").querySelector("span").innerText) + timeDiff;
            }
        })

        saveTrips();
    }

    function reAssignValues() {
        var div = document.getElementsByClassName("recommendation-listings");

        for (var i=0; i<div.length; i++) {
            var btn = div[i].getElementsByClassName("btn-add-place");
            for (var j=0; j<btn.length; j++) {
                btn[j].setAttribute("onclick", `recommend(1, ${j+1}, this);`);
            }

            var plansCards = document.getElementsByClassName("plan-selection");

            var startTme = startTime;
            var currTime = startTme.toLocaleTimeString('en-SG', {hour12: false})
            plansCards[0].querySelector(".plan-timing").innerText = currTime.substring(0, currTime.length-3);
            for (var j=1; j<plansCards.length-1; j++) {
                startTme.setTime(startTme.getTime() + parseInt(plansCards[j].querySelector(".plan-total-duration").querySelector("span").innerText)*60000);

                currTime = startTime.toLocaleTimeString('en-SG', {hour12: false})
                plansCards[j].querySelector(".plan-timing").innerText = currTime.substring(0, currTime.length-3);
            }
        }
    }

    async function saveTrips() {
        var div = document.getElementsByClassName("recommendation-listings");
        var firstSelection = document.getElementsByClassName("firstPage");
        var itineraryId = document.getElementsByClassName("itinerary-id");
        var checkDate = new Date($("#startDate").val());

        var plannerIdStr = document.querySelector("#planner-id").value; 
        if (plannerIdStr.trim().length == 0)
            plannerIdStr = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c => (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
        document.querySelector("#planner-id").value = plannerIdStr;

        async function save(index) {
            await $.ajax({
                type: "POST",
                url: `/funcs/save-trip`,
                data: {
                    id: itineraryId[index].value,
                    tripType: "Planner",
                    tripName: "Hello",
                    date: checkDate.toISOString().slice(0, 10),
                    names: placesName,
                    addresses: placesAddress,
                    activityDuration: placesActivityDuration,
                    duration: placesDuration,
                    latlngs: placesLatlng,
                    transportMode: "pt",
                    confirmed: false,
                    status: "Planning",
                    plannerId: plannerIdStr,
                    hasEnd: hasE
                },
                success: function(result) {
                    result = JSON.parse(result);
                    for (var j in result.id)
                        itineraryId[j].value = result.id;
                    document.querySelector("#planner-id").value = result.plannerId;
                    console.log("System: Saving trip - Page "+(index+1));
                }
            });
        }

        for (var i=0; i<div.length; i++) {
            // Update db function
            var allPlacesDiv = div[i].getElementsByClassName("plan-selection");
            var placesName = [];
            var placesAddress = [];
            var placesActivityDuration = [];
            var placesDuration = [];
            var placesLatlng = [];

            for (var j=0; j<allPlacesDiv.length; j++) {
                console.log(allPlacesDiv[j])
                placesName.push(allPlacesDiv[j].querySelector(".plan-name").innerText);
                placesAddress.push(allPlacesDiv[j].querySelector(".plan-address").innerText);
                if (j == 0 || allPlacesDiv[j].classList.contains("end")) {
                    placesActivityDuration.push(null);
                    placesDuration.push(null);
                }
                else {
                    placesActivityDuration.push(parseInt(allPlacesDiv[j].querySelector(".plan-activity-duration").querySelector("span").innerText));
                    placesDuration.push(parseInt(allPlacesDiv[j].querySelector(".plan-total-duration").querySelector("span").innerText));
                }
                placesLatlng.push(allPlacesDiv[j].querySelector(".plan-latlng").innerText);
            }

            var hasE = false;
            if (allPlacesDiv.length > 0) {
                hasE = allPlacesDiv[allPlacesDiv.length-1].classList.contains("end")
            }

            console.log(allPlacesDiv);
            await save(i);

            checkDate.setDate(checkDate.getDate() + 1);
        }
    }

    var canSearch = true;
    var dropdownCooldown = false;

    // Searching - for adding start and end location
    function openSearch(btn, order) {
        // Pull screen up
        $("#searchTab").show();
        $("#searchTab").animate({
            bottom: "0vh"
        }, 350, function () {
            document.querySelector("#searchBar").focus();
        });
        var btnClassList = btn.classList;
        var idClass;
        for (var i=0; i<btnClassList.length; i++) {
            if (btnClassList[i].substring(btnClassList[i].length - 9, btnClassList[i].length) == "-location") {
                idClass = btnClassList[i];
                break;
            }
        }

        $("#search-btnId").text(idClass);
        $("#search-divOrder").text(order);
    }
    function closeSearch() {
        // Pull screen down
        $("#searchTab").animate({
            bottom: "-200vh"
        }, 350, function() {
            $("#searchTab").hide();
        });
    }

    function pauseSearch() {
        canSearch = false;
        setTimeout(function() {
            canSearch = true;
            search();
        }, 350);
    }
    
    function search() {
        if (canSearch) {
            var dropdownMenu = document.querySelector("#search-results");
            const search = document.querySelector("#searchBar").value;
            const pageNum = $("#searchPage").val()

            if (!search.trim()) {
                dropdownMenu.innerHTML = "";
            }
            else {
                $.ajax({
                    url: `https://developers.onemap.sg/commonapi/search?searchVal=${search}&returnGeom=Y&getAddrDetails=Y&pageNum=${pageNum}`,
                    success: function(result) {
                        dropdownMenu.innerHTML = "";
                        if (result.results.length > 0) {
                            dropdownMenu.style.display = "block";
                            showLength = 10;
                            if (result.results.length < 10) {
                                showLength = result.results.length;
                            }

                            for (var i=0; i<showLength; i++) {
                                dropdownCooldown = true;
                                record = result.results[i]
                                dropdownMenu.innerHTML += `
                                <div class="dropdown-item" onclick="addSE(this);">
                                    <p style="font-size: 14px; margin-bottom: 3px; font-weight: bold;">${capitalize(record.SEARCHVAL)}</p>
                                    <p style="font-size: 11px; max-width: 100%; overflow: auto; margin-bottom: 3px;">${capitalize(record.ADDRESS)}</p>
                                    <p hidden>${record.LATITUDE},${record.LONGITUDE}</p>
                                </div>`;

                                setTimeout(function () { dropdownCooldown = false; }, 126)
                            }
                        }
                        else {
                            dropdownMenu.innerHTML = `<div class="dropdown-item">No results found</div>`; 
                        }
                    }
                });
            }

        }     
    }

    function searchNextPage() {
        $("#searchPage").text(parseInt($("#searchPage").text()) + 1)
    }

    function addSE(card) {
        var btnId = $("#search-btnId").text();
        var divOrder = parseInt($("#search-divOrder").text());
        var div = document.getElementsByClassName("recommendation-listings")[divOrder-1];
        var btn = div.querySelector(`.${btnId}`);
        
        var allP = card.getElementsByTagName("p");
        var newCard = new DOMParser().parseFromString(
            `<div class="card plan-selection">
                <h5 class="plan-name">${allP[0].innerText}</h5>
                <p class="plan-address" style="font-size:12px">${allP[1].innerText}</p>
                <br />
                <p class="plan-latlng" hidden>${allP[2].innerText}</p>
            </div>`, "text/html").body.firstElementChild;

        if (btnId == "start-location") {
            newCard.classList.add("start");
        }
        else
            newCard.classList.add("end");

        div.replaceChild(newCard, btn);
        if (btnId == "start-location") 
            div.innerHTML += 
                `<button class="btn-addColor" onclick="removeFirstBtn(this); recommend(1, 1, this);">+ Add a place</button>
                <button class="btn-addColor end-location" onclick="openSearch(this, '${divOrder}');">+ Add end Location</button>`;

        closeSearch();
        saveTrips();
    }

    function toggleDay(card) {
        var dateCards = document.getElementsByClassName("card-date");
        var index = card;
        if (!Number.isInteger(card))
            index = [].slice.call(dateCards).indexOf(card);
        var planSections = document.getElementsByClassName("planSection");

        for (var i=0; i<dateCards.length; i++) {
            if (i == index) {
                planSections[i].style.display = "block";
                dateCards[i].classList.add("addColor");
            }
            else {
                planSections[i].style.display = "none";
                dateCards[i].classList.remove("addColor");
            }
        }
    }

    window.addEventListener('load', function () {
        /*document.addEventListener('click', function (event) {
            const allTabs = document.getElementsById;
            const endInp = document.getElementById("end-location");
            const startInp = document.getElementById("start-location");

            if (![].slice.call(allTabs).find(x => x === event.target) && event.target != endInp && event.target != startInp) {
                if (!dropdownCooldown) {
                    for (var i in allTabs) {
                        allTabs.item(i).style.display = "none";
                    }
                }
            }
        });*/

        initFunctions();
    });

</script>
{% endblock %}
