{% extends "base.html" %}
{% block title %}Redpins Buffer - Review Details{% endblock %}

{% block content %}
<div class="main-div">
    <div class="device">
        {% if error %}
        <h3>{{error}}</h3>

        {% else %}
        <div class="float-right">
            <a href="/itinerary/showTrip">Map</a>
        </div>
    
        {% if itinerary != None %}
        <div id="startTime-text">Start time: {{itinerary.getStartTime()}}</div>
        <div id="endTime-text">End time: {{itinerary.getEndTime()}}</div>
        <div id="time-left">Duration left: <span>{{itinerary.getTimeLeft()| int}}</span></div>
    
        <div id="transport-text">Transport mode: {% if itinerary.getTransportMode() == "pt" %}Public Transport{% else %}{{itinerary.getTransportMode()}}{% endif %}</div>
        <div>Category: Eateries</div>
        {% else %}
        <div id="startTime-text">Start time: </div>
        <div id="endTime-text">End time: </div>
        <div id="time-left">Duration left: <span></span></div>
    
        <div id="transport-text">Transport mode: </div>
        <div>Category: Eateries</div>
        {% endif %}
    
        <div id="recommendation-listings">
            {% if itinerary != None %}
                {% for i in range(itinerary.getPlaces()| length) %}
                <div class="card plan-selection">
                    <h5 class="plan-name">{{itinerary.getPlaces()[i].Name}}</h5>
                    <p class="plan-address" style="font-size:12px">{{itinerary.getPlaces()[i].Address}}</p>
                    <br />
                    <p class="plan-activity-duration">{% if itinerary.getPlaces()[i].ActivityDuration %}<span>{{itinerary.getPlaces()[i].ActivityDuration}}</span> min{% else %}<span></span>{% endif %}</p>
                    <p class="plan-total-duration">{% if itinerary.getPlaces()[i].TotalDuration %}<span>{{itinerary.getPlaces()[i].TotalDuration|int}}</span> min{% else %}<span></span>{% endif %}</p>
                    <p class="plan-latlng" hidden>{{itinerary.getPlaces()[i].Latlng}}</p>
                </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
        
        {% if type == 'Planner' %}<button class="btn btn-secondary">Save trip</button>{% endif %}
        <form method="POST">
            <input type="submit" value="Start Trip" class="btn btn-primary">
        </form>
        {% endif %}
    </div>
    
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}
