{% extends "base.html" %}
{% block title %}Redpins Buffer{% endblock %}

{% block content %}
<!-- header -->
<div class="device main-div" id="explore">
    <div class="exploreheader">
        <h1>Good Morning!</h1>
        <h2>How Would You Like To Travel Today?</h2>
    </div>

    <section class="exploretype">
        <div class="explorercard" onclick="window.open('/itinerary/planning/explorer','_self')">
            <img src="/static/images/explorer.png" alt="">
            <h1>Explorer</h1>
        </div>

        <div class="plannercard" onclick="window.open('/itinerary/planners','_self')">
            <img src="/static/images/planner.png" alt="">
            <h1>Planner</h1>
        </div>
    </section>

    {% block bottomNav %}
        {% include "includes/_bottomNav.html" %}
    {% endblock %}
</div>

{% endblock %}