.btn-addColor {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%); 
  color: white;
}

#reloadingbg {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
  opacity: 0.8;
  color: white;
  position: fixed;
  z-index: 999;
}

.relogogif {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 27.38%;
  bottom: 37.25%;
}

#reloadingbg > p {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 40.38%;
  bottom: 37.25%;
  z-index: 9999;
}

.plan-choices-list {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto; overflow-y: hidden;
}
