@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.device {
  position: relative;
  width: 360px;
  /* max-width: 430px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.onboarding {
  justify-content: space-between;
  align-items: center;
}

#registrationbg {
  justify-content: space-between;
  position: relative;
  width: 360px;
  height: 230px;
}

#loginbg {
  justify-content: space-between;
  position: relative;
  width: 360px;
  height: 265px;
}

#preferences {
  justify-content: space-around;
}

#loadingbg, #registrationbg, #loginbg {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
}

/* landing page */
.logogif {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 37.38%;
  bottom: 37.25%;
}

/* onboarding page */
.onboardingchange {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.onboarding01img {
  width: 100%;
  height: 360px;
  background-image: url("/static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboarding02img {
  width: 100%;
  height: 360px;
  background-image: url("/static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboarding03img {
  width: 100%;
  height: 360px;
  background-image: url("/static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboardingheader {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  margin: 1em auto 0.5em auto;
}

.onboardingtag {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0.5em auto 1em auto;
}

.onboardingbars {
  display: flex;
  margin: 1em auto;
}

.activebar {
  width: 30px;
  height: 4px;
  background-color: #e4002b;
  border-radius: 2px;
  margin: 0 0.2em;
}

.bar {
  width: 15px;
  height: 4px;
  background-color: #e7e7e7;
  border-radius: 2px;
  margin: 0 0.2em;
}

.onboardingcta {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.onboardingcta p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.onboardingacc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 80px 0;
}

.onboardingacc a {
  text-decoration: none;
  color: #e4002b;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

/* registration page */
#registrationbg p {
  position: absolute;
  width: 180px;
  height: 32px;
  left: 20px;
  top: 118px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.inputfields {
  position: absolute;
  width: 100%;
  height: 620px;
  left: 0px;
  top: 180px;
  background: white;
  border-radius: 20px 0px 0px 0px;
}

input {
  width: 90%;
  height: 50px;
  box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.3);
  border-radius: 5px;
  border: none;
  margin: 20px;
  padding: 1em;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #BBBBBB;
}

.next {
  margin: 5em auto;
  width: 320px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/* Login page */
.fielderror{
  position: relative;
  display: block;
}

.fielderror > span {
  position: absolute;
  top: -20px;
  left: 1.5em;
  color: #d9534f;
  font-size: 13px;
  margin-left: 2%;
  width: 100%;
}

#loginbg h1 {
  position: relative;
  width: 211px;
  height: 90px;
  left: 20px;
  top: 115px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.loginfields {
  position: absolute;
  width: 360px;
  height: 570px;
  left: 0px;
  top: 230px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.3);
  border-radius: 20px 0px 0px 0px;
}

.loginfields p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2B2B2B;
  text-align: right;
}

.forgot {
  margin-right: 5%;
}

.login {
  margin: 2em auto;
  width: 320px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.signup {
  display: flex;
  justify-content: center;
  margin: 13em 0 0 0;
}

.signup p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.signup a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #E4002B;
  margin: 0;
  text-decoration: none;
}

/* preferences page */
.preference {
  margin: 120px 10px;
}

#preferences h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #2B2B2B;
}

#preferences p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #2B2B2B;
  margin: 0 0 20px 0;
}


.activities ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.activities li {
  background-color: #eeeeee;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  list-style-type: none;
  cursor: pointer;
}

#preferences .next {
  width: 95%;
}

#preferences .next h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
