@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.device {
  position: relative;
  width: 360px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.onboarding {
  justify-content: space-between;
  align-items: center;
}

#registrationbg {
  justify-content: space-between;
  position: relative;
  width: 360px;
  height: 230px;
}

#loginbg {
  justify-content: space-between;
  position: relative;
  width: 360px;
  height: 265px;
}

#preferences {
  justify-content: space-around;
}

#loadingbg,
#registrationbg,
#loginbg {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
}

#explore,
#account {
  background: linear-gradient(55.96deg, #E4002B 9.03%, #E92C3D 40.19%, #F8A36F 90.12%);
}

/* navbar */
nav {
  position: sticky;
  top: 712px;
  z-index: 3;
}

.myplansbutton {
  z-index: 1;
  position: absolute;
  height: 26px;
  width: 23px;
  left: 275px;
  top: 44px;
  border-radius: 0px;
}

.explorebutton {
  z-index: 1;
  position: absolute;
  width: 75px;
  height: 75px;
  left: 142px;
  top: 0px;
}

.accountbutton {
  z-index: 1;
  position: absolute;
  height: 26px;
  width: 27.000001907348633px;
  left: 59px;
  top: 44px;
  border-radius: 0px;
}

.navbarbutton {
  position: absolute;
  width: 360px;
  left: 0px;
  top: 15px;
  border-radius: 0px;
}

/* landing page */
.logogif {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 37.38%;
  bottom: 37.25%;
}

/* onboarding page */
.onboardingchange {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.onboarding01img {
  width: 100%;
  height: 360px;
  background-image: url("../../static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboarding02img {
  width: 100%;
  height: 360px;
  background-image: url("../../static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboarding03img {
  width: 100%;
  height: 360px;
  background-image: url("../../static/images/ock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.onboardingheader {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  margin: 1em auto 0.5em auto;
}

.onboardingtag {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0.5em auto 1em auto;
}

.onboardingbars {
  display: flex;
  margin: 1em auto;
}

.activebar {
  width: 30px;
  height: 4px;
  background-color: #e4002b;
  border-radius: 2px;
  margin: 0 0.2em;
}

.bar {
  width: 15px;
  height: 4px;
  background-color: #e7e7e7;
  border-radius: 2px;
  margin: 0 0.2em;
}

.onboardingcta {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.onboardingcta p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.onboardingacc {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 80px 0;
}

.onboardingacc a {
  text-decoration: none;
  color: #e4002b;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

/* registration page */
#registrationbg p {
  position: absolute;
  width: 180px;
  height: 32px;
  left: 20px;
  top: 118px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.inputfields {
  position: absolute;
  width: 100%;
  height: 620px;
  left: 0px;
  top: 180px;
  background: white;
  border-radius: 10px 10px 0px 0px;
}

input {
  width: 90%;
  height: 50px;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.3);
  border-radius: 5px;
  border: none;
  margin: 20px;
  padding: 1em;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: black;
}

.next {
  margin: 5em auto;
  width: 320px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/* Login page */
.fielderror {
  position: relative;
  display: block;
}

.fielderror>span {
  position: absolute;
  top: -20px;
  left: 1.5em;
  color: #d9534f;
  font-size: 13px;
  margin-left: 2%;
  width: 100%;
}

#loginbg h1 {
  position: relative;
  width: 211px;
  height: 90px;
  left: 20px;
  top: 115px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.loginfields {
  position: absolute;
  width: 360px;
  height: 570px;
  left: 0px;
  top: 230px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.3);
  border-radius: 10px 10px 0px 0px;
}

.loginfields p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2B2B2B;
  text-align: right;
}

.forgot {
  margin-right: 5%;
}

.login {
  margin: 2em auto;
  width: 320px;
  height: 50px;
  background: #EEEEEE;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.signup {
  display: flex;
  justify-content: center;
  margin: 13em 0 0 0;
}

.signup p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.signup a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #E4002B;
  margin: 0;
  text-decoration: none;
}

/* preferences page */
.preference {
  margin: 120px 10px;
}

#preferences h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #2B2B2B;
}

#preferences p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #2B2B2B;
  margin: 0 0 20px 0;
}

.activities ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.activities li {
  background-color: #eeeeee;
  padding: 10px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  list-style-type: none;
  cursor: pointer;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #2B2B2B;
}

#preferences .next {
  width: 95%;
}

#preferences .next h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

/* homepage */
#home {
  overflow-y: scroll;
  overflow-x: hidden;
  background: linear-gradient(55.96deg, #E4002B 9.03%, #E92C3D 40.19%, #F8A36F 90.12%);
}

#home img {
  position: absolute;
  z-index: 0;
}

.homeheader {
  margin: 26px 20px 16px 20px;
  display: flex;
  justify-content: space-between;
}

.homeheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #FFFFFF;
}

.homeheader ul {
  display: flex;
  list-style: none;
}

.homeheader ul li {
  margin: 10px 20px;
}

/* homecontent */
.homecontent {
  position: absolute;
  width: 360px;
  height: auto;
  left: 0px;
  top: 80px;
  background: #FCFCFC;
  border-radius: 20px 20px 0px 0px;
}

/* banner */
.banner {
  width: 320px;
  height: 140px;
  border-radius: 5px;
  background-color: grey;
  margin: 20px auto 10px auto;
}

/* hotspot */
.categories {
  overflow-x: scroll;
  overflow-y: hidden;
}

.categories ul {
  width: 640px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto 20px;
  text-align: center;
}

.categories ul li {
  margin: 20px 0 0 0;
}

.categories ul li p {
  margin: 4px 0 0 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2B2B2B;
}

.categoriesbutton {
  width: 40px;
  height: 40px;
  background: linear-gradient(234.68deg, #E4002B 1.73%, #E92C3D 15.75%, #F8A36F 85.31%);
  border-radius: 5px;
}

/* homeheaders */
.sectionheader {
  margin: 10px 20px 0 20px;
}

.sectionheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2B2B2B;
}

.sectionheader h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #707070;
}

.sectionheader h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #BBBBBB;
}

/* recent searches */
.recentheader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.manyheadertags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recentsearches {
  padding: 0 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.recentcardscon {
  display: flex;
  margin: 10px 0;
  width: 1000%;
  height: 130px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.searchcard {
  width: 300px;
  height: 110px;
  box-shadow: 0px 10px 10px rgba(207, 207, 207, 0.5);
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: flex;
}

.cardimg {
  width: 110px;
  height: 110px;
  background-color: green;
  border-radius: 5px;
  position: relative;
}

.save {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 66.1%;
  right: 91.46%;
  top: 4.55%;
  bottom: 68.18%;
}

.save svg {
  position: absolute;
  left: 9px;
  top: 7px;
}

.cardinfo {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recentname {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2B2B2B;
}

.recentcat {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #707070;
  margin: 0 0 10px 0;
}

.rating {
  display: flex;
}

.rating svg {
  margin: 0 4px 0 0;
}

.ratingvalue {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #707070;
  margin: 0 0 0 4px;
}

/* Top10 */
.top10 {
  padding: 0 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.top10 .cardscon {
  height: 240px;
}

.top10cards {
  margin: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 217px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(207, 207, 207, 0.5);
  border-radius: 5px;
}

.top10cards .cardimg {
  width: 100%;
  height: 110px;
  background-color: green;
  border-radius: 5px;
  position: relative;
}

.top10cards .ranking {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #E4002B;
  border-radius: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top10cards .ranking h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}

.top10cards .save {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 82.1%;
  right: 91.46%;
  top: 4.55%;
  bottom: 68.18%;
}

.save svg {
  position: absolute;
  left: 9px;
  top: 7px;
}

.top10cardinfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  height: 80px
}

.recentname {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2B2B2B;
}

.recentcat {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #707070;
  margin: 0 0 10px 0;
}

.rating {
  display: flex;
}

.rating svg {
  margin: 0 4px 0 0;
}

.ratingvalue {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #707070;
  margin: 0 0 0 4px;
}

/* dazzling card */
.dazzlingcardscon {
  margin: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dazzlingcard {
  height: 200px;
  width: 155px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 10px 20px 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67.95%, rgba(0, 0, 0, 0.7) 94.44%);
}

.dazzlingcard h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 10px;
}

.dazzlingcard h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 5px 10px 10px 10px;
}

/* maindcard */
.maincardcon {
  padding: 10px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 225px;
  display: flex;
}

.maincard {
  width: 150px;
  height: 197px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(207, 207, 207, 0.5);
  border-radius: 5px;
  margin: 0 10px 0 0;
}

.maincard .save {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  left: 76.5%;
  right: 91.46%;
  top: 4.55%;
  bottom: 68.18%;
}

.maincard .cardimg {
  height: 90px;
  width: 150px;
  border-radius: 5px;
}

.maincardinfo {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

/* dazzling card */
.globalcardscon {
  margin: 10px 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.globalcard {
  width: 154.84px;
  height: 100px;
  background: #C4C4C4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  margin: 10px 10px 0 0;
}

.globalcard h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 10px;
}

.more {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #BBBBBB;
  text-align: center;
  margin: 20px 0 100px 0;
}

/* search page */
.searchheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px 0px 20px;
}

.searchheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2B2B2B;
}

#search {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
}

#search input {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #black;
}

#search .activities {
  margin: 20px 20px 10px 20px;
}

.searchcardscon {
  margin: 10px 20px;
}

.searchcard {
  margin: 10px 0;
}

/* explore page */
.exploreheader {
  margin: 40px 20px 20px 20px;
}

.exploreheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
}

.exploreheader h2 {
  margin: 0px 0 20px 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.exploretype {
  position: absolute;
  width: 360px;
  height: 678px;
  left: 0px;
  top: 122px;
  background: #fcfcfc;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exploretype .explorercard,
.exploretype .plannercard {
  width: 300px;
  height: 250px;
  box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.5);
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.exploretype .explorercard h1,
.exploretype .plannercard h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #2B2B2B;
  margin: 10px 0 0 0;
}

/* account */
.accountheader {
  margin: 40px 0 0 20px;
}

.accountheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
}

.accountsection {
  position: absolute;
  width: 360px;
  height: 713px;
  left: -0.14px;
  top: 86.52px;
  background: #FCFCFC;
  border-radius: 10px 10px 0px 0px;
}

/*user details */
.useraccount {
  display: flex;
  align-items: center;
  margin: 40px 0 0 20px;
}

.profilepic {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #cfcfcf;
}

.userdetails {
  margin: 0 10px;
}

.userdetails h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #2B2B2B;
}

.userdetails h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #2B2B2B;
}

.userdetails svg {
  margin-left: 4px;
}

/* buffrewards */
.buffrewards {
  margin: 30px 20px 0 20px;
}

.buffrewardsprogress {
  width: 320px;
  height: 110px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.5);
  border-radius: 5px;
  margin: 10px 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.buffrewardsprogress img {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
}

.buffrewardspoints {
  display: flex;
  justify-content: space-between;
}

.buffrewardspoints p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2B2B2B;
}

.pointstext p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #2B2B2B;
}

.progressbar {
  width: 240.3px;
  height: 15px;
  background: #EEEEEE;
  border-radius: 1px;
  margin: 5px 0 5px 0;
}

.progression {
  width: 134.33px;
  height: 15px;
  background: linear-gradient(234.68deg, #E4002B 1.73%, #E92C3D 15.75%, #F8A36F 85.31%);
  border-radius: 1px;
}

/* explorer */
#explorer {
  background: #FCFCFC;
}

.explorerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 20px 20px 20px;
}

.explorerheader h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2B2B2B;
}

.explorerinput h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2B2B2B;
  margin: 10px 20px;
}

.explorerinput input {
  background: #F2F2F2;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.startend {
  display: flex;
}

.transportmodecon {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.transportmode {
  width: 50px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  width: 360px;
  height: 90px;
  left: 0px;
  top: 710px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(207, 207, 207, 0.5);
  display: flex;
  padding: 20px;
}

.maincta {
  width: 320px;
  height: 50px;
  background: linear-gradient(234.68deg, #E4002B 1.73%, #E92C3D 15.75%, #F8A36F 85.31%);
  mix-blend-mode: normal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincta h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.refresh {
  width: 68px;
  height: 50px;
  background: #F2F2F2;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starttrip {
  width: 236px;
}
