p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

hr {
  margin: 0;
}

#planPage {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.btn-addColor {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%); 
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  margin: 5px 0;
}

.addColor {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%); 
  color: white;
}

#reloadingbg {
  background: linear-gradient(193.74deg, #E4002B 3.02%, #E82038 31.9%, #F8A36F 95.45%);
  opacity: 0.8;
  color: white;
  position: fixed;
  z-index: 999;
}

.dropdown-menu-search {
  position: absolute;
  width: 87.5%;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0 20px;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}

.relogogif {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 27.38%;
  bottom: 37.25%;
}

#reloadingbg > p {
  position: absolute;
  left: 26.39%;
  right: 30.56%;
  top: 40.38%;
  bottom: 37.25%;
  z-index: 9999;
}

.plan-choices-list {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto; overflow-y: hidden;
}

.maincta-disabled {
  width: 320px;
  height: 50px;
  background: #EEEEEE;
  mix-blend-mode: normal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincta-disabled h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

.explorertravelduration h2 a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #E4002B;
}

.explorertransport {
  max-width: 80%;
  overflow-x: scroll;
}

.cardimg {
  background-size: cover;
}
