<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>onboarding02</title>
  <link rel="stylesheet" href="../../../assets/wepapp/static/css/style.css">
</head>

<body>
  <div class="device">
    <div class="onboarding02img">
    </div>

    <p class="onboardingheader">Only The Best!</p>
    <p class="onboardingtag">With machine-learning, you’ll always get<br>new & exciting recommendations<br>tailored for you.</p>

    <div class="onboardingbars">
      <div class="bar"></div>
      <div class="activebar"></div>
      <div class="bar"></div>
    </div>

    <div class="onboardingcta" onclick="window.open('registration.html','_self')">
      <p>Get Started</p>
    </div>

    <p class="onboardingacc">Have an account? <a href="login.html">Sign In</a></p>

  </div>
</body>

</html>
