<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html,
    body {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      height: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body>
  <div class="w-[360px] h-[800px] relative overflow-hidden rounded-[20px] bg-[#fcfcfc]">
    
    <p class="w-[190px] h-16 absolute left-5 top-[118px] text-3xl font-semibold text-left text-[#2b2b2b]">
      Getting You Started.
    </p>
    <p class="absolute left-5 top-[195px] text-base text-left text-[#2b2b2b]">
      <span class="text-base text-left text-[#2b2b2b]">Pick </span><span class="text-base font-bold text-left text-[#2b2b2b]">5</span><span class="text-base text-left text-[#2b2b2b]"> food preferences you love!</span>
    </p>
    <div class="flex flex-col justify-start items-start absolute left-[19px] top-[259px] gap-2.5">
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-2.5">
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Local
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Halal
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Asian
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              East-Asian
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-2.5">
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              European
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              African
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              American
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-2.5">
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Keto
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Gluten-Free
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Vegetarian
            </p>
          </div>
        </div>
      </div>
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 gap-2.5">
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Mediterranean
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center flex-grow-0 flex-shrink-0 overflow-hidden gap-2.5 p-2.5 rounded-[5px] bg-[#eee]">
          <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 relative gap-2">
            <p class="flex-grow-0 flex-shrink-0 text-sm font-semibold text-left text-[#2b2b2b]">
              Vegan
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-80 h-[50px] absolute left-[19px] top-[669px] overflow-hidden" onclick="window.open('home.html','_self')">
      <div class="w-80 h-[50px] absolute left-[-1px] top-[-1px]">
        <div class="w-80 h-[50px] absolute left-[-1px] top-[-1px] rounded-[5px] bg-[#eee]"></div>
        <div class="w-[7px] h-[50px] absolute left-[-14px] top-[-1px] rounded-[5px]" style="background: linear-gradient(238.86deg, #e4002b 1.57%, #e92c3d 15.84%, #f8a36f 86.66%);"></div>
        <p class="absolute left-[117px] top-[13px] text-base font-semibold text-center text-white">
          Complete!
        </p>
      </div>
    </div>
    <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-[19px] top-[59px]" preserveAspectRatio="xMidYMid meet">
      <path
        d="M10.2642 0C10.8582 0.203504 11.2215 0.68581 11.6052 1.12894C11.9081 1.47897 11.8687 2.05183 11.5761 2.4156C11.5052 2.50072 11.4295 2.58174 11.3494 2.65828C8.94914 5.0464 6.54751 7.43334 4.14452 9.81909C4.0819 9.87251 4.01519 9.92099 3.94498 9.96409C4.03554 10.0582 4.08722 10.1167 4.14145 10.1676C6.56048 12.5737 8.9795 14.9796 11.3985 17.3854C11.8298 17.8148 11.9613 18.3439 11.6385 18.7738C11.3346 19.1709 10.9778 19.5251 10.5779 19.8264C10.2074 20.1093 9.70807 20.0259 9.34174 19.7247C9.28648 19.6794 9.23276 19.6311 9.18211 19.5807L0.412125 10.8636C-0.0248138 10.4296 -0.119978 9.92084 0.153748 9.45024C0.222198 9.33957 0.304744 9.23817 0.399334 9.14854C3.33272 6.23165 6.26697 3.31661 9.20206 0.403448C9.37602 0.231995 9.61905 0.132787 9.8324 0H10.2642Z"
        fill="#2B2B2B"></path>
    </svg>
  </div>
</body>

</html>
