<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    html,
    body {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      height: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>
</head>

<body>
  <div class="w-[360px] h-[800px] relative overflow-hidden rounded-[20px] bg-[#fcfcfc]">
    <div class="w-[360px] h-[230px] absolute left-[-1px] top-[-1px] rounded-[5px]" style="background: linear-gradient(227.04deg, #e4002b 2.14%, #e92c3d 35.18%, #f8a36f 101.51%);">
      <p class="w-[180px] h-8 absolute left-5 top-[118px] text-3xl font-semibold text-left text-white">
        Welcome!
      </p>
    </div>
    <div class="w-[360px] h-[800px] absolute left-[-1px] top-[179px] rounded-tl-[20px] bg-white">
    </div>

    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[199px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Username" value="" placeholder="Username">
    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[269px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Email" value="" placeholder="Email">
    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[339px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Birthdate" value="" placeholder="Birthdate">
    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[409px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Contact" value="" placeholder="Contact">
    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[479px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Password" value="" placeholder="Password">
    <input type="text" class="w-80 h-[50px] absolute left-[19px] top-[549px] rounded-[5px] bg-white" style="box-shadow: 0px 10px 20px 0 rgba(207,207,207,0.3);" name="Confirm Password" value="" placeholder="Confirm Password">

    <div class="w-[74px] h-[22px] absolute left-[34px] top-[353px]">
      <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-[269px] top-[-3px]" preserveAspectRatio="none">
        <path
          d="M6.66635 9.8952H4.44391V12.0952H6.66635V9.8952ZM11.1102 9.8952H8.88781V12.0952H11.1102V9.8952ZM15.5542 9.8952H13.3317V12.0952H15.5542V9.8952ZM17.7766 2.19616H16.6663V0H14.4439V2.2H5.55513V0H3.33366V2.2H2.22244C1.93117 2.20012 1.64279 2.2572 1.37386 2.36794C1.10493 2.47869 0.860748 2.64093 0.655329 2.84534C0.449911 3.04976 0.287303 3.29232 0.176842 3.55912C0.066381 3.82591 0.0102421 4.11167 0.011648 4.4L1.90838e-06 19.7981C-0.00038089 20.0872 0.0568288 20.3735 0.168357 20.6407C0.279886 20.9079 0.443544 21.1507 0.649967 21.3552C0.85639 21.5598 1.10153 21.722 1.37135 21.8326C1.64117 21.9432 1.93039 22.0001 2.22244 22H17.7776C18.3662 21.9975 18.93 21.7649 19.3462 21.3528C19.7625 20.9408 19.9974 20.3827 20 19.8V4.39904C19.9972 3.81651 19.7621 3.25864 19.3459 2.84682C18.9297 2.43499 18.366 2.20253 17.7776 2.2L17.7766 2.19616ZM17.7766 19.7942H2.22244V7.69904H17.7776L17.7766 19.7942Z"
          fill="#BBBBBB"></path>
      </svg>
    </div>

    <div class="w-36 h-[22px] absolute left-[34px] top-[563px]">

      <div class="w-80 h-[50px] absolute left-[-16px] top-[105px] overflow-hidden" onclick="window.open('preferences01.html','_self')">
        <div class="w-80 h-[50px] absolute left-[-1px] top-[-1px] rounded-[5px] bg-[#eee]"></div>
        <div class="w-[7px] h-[50px] absolute left-[-9px] top-[-1px] rounded-[5px]" style="background: linear-gradient(238.86deg, #e4002b 1.57%, #e92c3d 15.84%, #f8a36f 86.66%);"></div>
        <p class="absolute left-[142px] top-[13px] text-base font-semibold text-center text-white">
          Next
        </p>
      </div>
    </div>
  </div>
</body>

</html>
